<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <meta name="keywords" content="渠道PLUS" />
    <meta name="description" content="渠道PLUS" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="http://www.qudaoplus.cn/images/favicon.ico?v=1" type="image/x-icon"/>
    <link href="/Public/Club/regStatics/css/register.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="alert-prompt prompt">
        <div class="alert-content">
            <h2>您输入的手机号码有误，请重新输入</h2>
            <div class="alert-btn">
                <div class="close">确认</div>
            </div>
        </div>
    </div>

    <div class="alert-prompt wait">
        <div class="alert-content">
            <h2>您输入的手机号码有误，请重新输入</h2>
        </div>
    </div>

    <b class="logo"></b>

    <div class="content register" style="padding-top: 50px;">
        <div class="mobile">
            <input type="number" placeholder="请输入手机号">
            <b></b>
        </div>
        <div class="verification">
            <input type="number" placeholder="请输入验证码">
            <b></b>
            <i>获取验证码</i>
        </div>
        <div class="content-a">
          <a href="merberRegister?id=<?php echo $_REQUEST['id']; ?>" class="line">立刻注册</a>
          <a href="merberLogin?id=<?php echo $_REQUEST['id']; ?>" class="a-right">密码登录</a>
        </div>
        <div class="btn">
            <button>登 &nbsp; 录</button>
        </div>
    </div>

</body>

</html>
<script type="text/javascript" src="/Public/Club/regStatics/js/jquery.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        //撑满背景
        if($('body').height() < $(window).height()){
            $('body').height($(window).height());
        }

        //定义对象
        var $content = $('.content'),
            $mobile = $content.find('.mobile'),
            $verification = $content.find('.verification'),
            $verBtn = $verification.find('i'),
            $btn = $content.find('.btn button'),
            $prompt = $('.prompt'),
            $close = $prompt.find('.close'),
            $wait = $('.wait');

        //变量
        var timeOver = true;
        var openId = '<?php echo $_GET['identity']; ?>';   //一卡易接口获取微信openid
        var openId = '<?php echo $id; ?>';        //微信接口获取openid

        //获取验证码
        function times(){
            var tim, t = 59;

            tim = setInterval(function(){
                if(t > 0){
                    t--;
                    $verBtn.text(t);
                }
                else{
                    clearInterval(tim);
                    $verBtn.text('重新发送');
                    timeOver = true;
                }
            },1000);

            $verBtn.text(t);
        }

        $verBtn.click(function(){
            if(timeOver){
                if(!(/^1\d{10}$/.test($mobile.find('input').val()))){
                    errorMsgg('您输入的手机号码有误，请重新输入', $prompt, $mobile);
                }
                else{
                    timeOver = false;
                    $(this).attr('disabled', true);
                    times();
                    $.ajax({
                        type: "POST",
                        url: "{:U('Admin/sendSms')}",      //短信验证
                        data:{
                          state:'2',
                          mobile: $mobile.find('input').val()
                        },
                        error: function(request) {
                            errorMsgg('连接服务器超时，请重新注册', $prompt, $verification);
                        },
                        success: function(data) {

                        }
                    });
                }
            }
        });

        //错误标红
        function errorMsgg(txt, $alert, $this){
            if($this){
                $this.addClass('error').siblings().removeClass('error');
            }
            $alert.find('h2').text(txt);
            $alert.fadeIn();
        }

        //关闭提示框
        $close.click(function(){
            $prompt.fadeOut();
        });

        //登录
        $btn.click(function(){
            $this = $(this);
            if(!(/^1\d{10}$/.test($mobile.find('input').val()))){
                errorMsgg('您输入的手机号码有误，请重新输入', $prompt, $mobile);
            }
            else if(!$verification.find('input').val()){
                errorMsgg('请输入您的短信验证码', $prompt, $verification);
            }
            else{
                $content.find('div').removeClass('error');
                errorMsgg('登录中，请稍候...', $wait);

                $.ajax({
                    type: "POST",
                    url:"{:U('Admin/mobileLogin')}",      //会员登录接口
                    data:{
                        thirdOpenId:openId,
                        mobile:$mobile.find('input').val(),
                        smsyzm:$verification.find('input').val()
                    },
                    success: function (data) {
                      data = eval( '(' +data+ ')' );
                      if( data.code == '0' ){
                        window.location.href = data.url;
                      }else{
                        $wait.hide();
                        if(data.code == '-2') {
                          $wait.hide();
                          errorMsgg('您输入的短信验证码有误，请重新输入', $prompt, $verification);
                          $register.fadeIn();
                          $sigi.fadeOut();
                          changeBg();
                        }else if(data.message == '卡号不存在！'){
                          errorMsgg('您输入的手机号码未注册，请重新输入', $prompt, $mobile);
                        }
                        else {
                          errorMsgg('连接服务器超时，请重新登录', $prompt);
                        }
                      }
                    },
                    error: function(request) {
                      errorMsgg('连接服务器超时，请重新登录', $prompt);
                    }
                });
            }
        });
    });


</script>
