<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <!-- 防止手机点击放大问题 -->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
  <!-- the end -->

  <title>成员升级</title>
  <link rel="stylesheet" href="__css__merberRank.css">
  <script type="text/javascript" src="__Club__statics/css/vendor/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
  var id = '<?php echo $id ?>',
      groupName = '<?php echo $groupName ?>';
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			{$jsApiParameters},
			function(res){
        if (res.err_msg == "get_brand_wcpay_request:ok") {
          $.ajax({
            type : 'POST',
            url : 'http://www.qudaoplus.cn/merber_all_show/index.php/home/Personnal/updateGroup',
            data : {
              cardId : id,
              groupName : groupName
            },
            success : function(data){
              var data = eval('('+data+')');
              if (data.code == '0') {
                window.location.replace("http://www.qudaoplus.cn/merber_all_show/index.php/home/Personnal/central");
              }else if ( data.code == '-1' ) {
                alert('服务器繁忙，请马上反馈客服！');
              }
            },
            error : function(){
              alert('服务器繁忙，请马上反馈客服！');
            }
          })

        }else if (res.err_msg == "get_brand_wcpay_request:cancel") {
          alert("已取消微信支付!");
        } else {
          alert("系统繁忙稍后再试……");
        };
			});
	}

	function callpay()
	{
	  alert('恭喜您提交成功\n'+'温馨提示：\n'+'因微信交易限额\n'+'推荐使用对公转账方式支付\n'+'公司名:上海渠道商务咨询有限公司\n'+'账号：32494708010140751\n'+'开户行：农商银行康桥支行\n'+'转账成功后三个工作日内，\n'+'会开放正式会员权益及功能\n'+'如有疑问或无法对公转账，\n'+'可以联系客户经理\n'+'或拨打客服热线：\n'+'021-53829777。');die;
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	</script>
	<script type="text/javascript">
	//获取共享地址
	function editAddress()
	{
		WeixinJSBridge.invoke(
			'editAddress',
			{$editAddress},
			function(res){
				var value1 = res.proviceFirstStageName;
				var value2 = res.addressCitySecondStageName;
				var value3 = res.addressCountiesThirdStageName;
				var value4 = res.addressDetailInfo;
				var tel = res.telNumber;

				alert(value1 + value2 + value3 + value4 + ":" + tel);
			}
		);
	}

	window.onload = function(){
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', editAddress, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', editAddress);
		        document.attachEvent('onWeixinJSBridgeReady', editAddress);
		    }
		}else{
			editAddress();
		}
	};

	</script>
</head>
  <body class="detail" style="overflow: hidden;">
    <iframe id="iframe" src="http://www.qudaoplus.cn/merber_all_show/index.php/Home/MerberRank/detail?guid=<?php echo $guid;?>&id=<?php echo $id;?>" onload="resize()"></iframe>
    <div class="section btn">
        <span>￥{$cardPrice}</span>
        <a onclick="callpay()">立即提交</a>
    </div>
  </body>
</html>
<script type="text/javascript">
function resize(){
  $('iframe').css({width: $(window).width(), height: $('iframe').contents().find('.detail').height()});
}
</script>
