<!DOCTYPE html>
<html>
<head lang="en">
    <include file="Components/header" />
</head>
<body>

<include file="Components/padding" title="服务条款" redirect_url="javascript:history.go(-1);" />

<div  class="tiaokuan container">
    <switch name="memberInfo['m_groupname']">
        <case value="内部测试">
            <h1 style="color: #f9cf81;">消费积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
            <!--<h1 style="margin-top: 50px;color: #f9cf81;">尊享积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>-->
            <h1 style="margin-top: 50px;color: #f9cf81;">奖励积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
        </case>
        <case value="尊享大咖">
            <h1 style="color: #f9cf81;">消费积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
            <h1 style="margin-top: 50px;color: #f9cf81;">尊享积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
            <!--<h1 style="margin-top: 50px;color: #f9cf81;">奖励积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>-->
        </case>
        <case value="悦享成员">
            <h1 style="color: #f9cf81;">消费积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
            <!--<h1 style="margin-top: 50px;color: #f9cf81;">尊享积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>
            <h1 style="margin-top: 50px;color: #f9cf81;">奖励积分</h1>
            <p>1.开具发票需要您先进行确认收货。</p>
            <p>2.电子发票在订单完成后，在订单详情中下载和查看。</p>
            <p>3.如您下单时未选择开票，自然年内，仍可通过订单详情在收货后重新申请开票。</p>-->
        </case>
    </switch>
</div>

<include file="Components/footer" />
</body>
</html>