<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Estate/css/style.css">
<style type="text/css">

</style>
</head>
<body class="center">
	<header>
		<img src="__PUBLIC__/Estate/images/banner1.png">
		<div class="div_1">
			<include file="EstatePublic/cheader" />
			<span>关于我们</span>
		</div>
	</header>
	<div class="aboutme">
		<h4>上海泰基企业集团</h4>
		<p>上海泰基企业集团（简称：泰基企业），起源自珠宝行业，历经26载潜心经营，现已发展成为集商业房产、金融服务、文化传媒、资源共享平台、医疗科技等多元业务为一体的企业集团。
目前集团旗下直属全资附属机构有：上海泰基商业房产经营管理有限公司、上海泰基信融互联网金融信息服务有限公司、上海泰基传媒有限公司、上海渠道商务咨询有限公司、上海泰基医疗科技有限公司以及上海泰基瀚道商贸有限公司。
泰基企业通过多年的探索和创新，逐步形成了自己特有的商业理念和模式。泰基通过集团化经营、扁平化管理，打通了集团内部各企业机构的关联性和互通性。集团下属各企业实现独立核算的同时，构建资源互享、相辅相成的发展生态，在有效降低成本、控制风险的同时，集团也逐步形成一个内部资源不断相互转换、扩大、多线利用的综合性平台。在商业环境瞬息万变的今天，泰基企业正是依靠不断创新商业理念，不断提升品牌的生命力与竞争优势，为将企业集团做大做强而不懈努力！</p>
<p>信融金服简介<br>上海泰基信融互联网金融信息服务有限公司隶属于上海泰基企业集团，拥有强大的金融专业技术、金融专用平台和专业服务团队，致力于为上海的中小微企业提供专业优质的金融服务。成立至今已为众多企业解决融资难问题。并以诚信、透明、规范、创新的服务理念赢得了良好的用户口碑。</p>
<p>渠道PLUS简介<br>渠道PLUS——专为仕绅名流打造的定制化、高品质、可信赖的高端资源共享平台。我们坚持以“4J”：成员之“家”，资源之“加”，品质之“佳”，精神之“嘉”严格要求自身，宛若评判钻石品质的4C一样精益求精。通过整合高端人脉、名医特约、机场尊享、金融支持等无尽资源，为您搭建资源共享之“渠”，得享知己比邻之“道”！</p>
<p>《名流PERSONAGE》简介<br>“赏名仕风流，引品质生活”《名流 PERSONAGE》杂志定位高净值精英阶层，甄选名流资讯，引领品质生活，专注精英人士的顶级生活享受及精神理念，致力于从“由富及贵”的视角解读高品质生活的精髓，诠释“高奢”源于内在精神传承与外在物质价值的意义。秉承传统，不忘初心，华贵典雅，彰显独特，于时代洪流中别树一帜，对优雅锲而不舍，对精致极致追求。
《名流 PERSONAGE》是一本杂志，更是一本专属于个人的“纸媒艺术品”，亦是“私人定制化”的“才智礼遇”。“一人，一本，一名”是我们的专属基因，“幽幽檀香味”是我们的灵魂精髓。</p>
		<div>
			<h4><img src="__PUBLIC__/Estate/images/tell.png">联系方式</h4>
			<p>地址：上海市静安区延安西路300号静安大厦10层<br>电话/传真：<a href="tel:021-53829777">021-53829777</a></p>
		</div>
	</div>

	<p id="margin-bottom"></p>
	<include file="EstatePublic/footer" />
</body>
</html>
