<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>会员信息</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Estate/css/style.css">

</head>
<body class="center">
	<header>
		<img src="__PUBLIC__/Estate/images/banner1.png">
		<div class="div_1">
			<include file="EstatePublic/cheader" />
			<span>成员信息</span>
		</div>
	</header>
	<div class="information">
		<h4><img src="__PUBLIC__/Estate/images/zuanshi.png">VIP{$conven_1['data'][0]['MemberGroupName']}</h4>
		<div>
			<p><span class="left">姓名：</span><span class="right">{$conven_1['data'][0]['TrueName']}</span></p>
			<p><span class="left">性别：</span><span class="right"><if condition="$conven_1['data'][0]['Sex'] eq 1"> 先生<else/>女士</if></span></p>
			<p><span class="left">年龄：</span><span class="right">{$age}</span></p>
			<p><span class="left">生日：</span><span class="right">{$conven_1['data'][0]['Birthday']}</span></p>
			<p><span class="left">联系电话：</span><span class="right">{$conven_1['data'][0]['Mobile']}</span></p>
			<p><span class="left">住宅地址：</span><span class="right">{$conven_1['data'][0]['Address']}</span></p>
		</div>
	</div>
	<p id="margin-bottom"></p>
	<include file="EstatePublic/footer" />
</body>
</html>
