<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>我的预约</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Estate/css/style.css">
<style type="text/css">

</style>
</head>
<body class="center">
	<header>
		<img src="__PUBLIC__/Estate/images/banner1.png">
		<div class="div_1">
			<include file="EstatePublic/cheader" />
			<span>预约管理</span>
		</div>
	</header>
	<ul class="order">
		<volist name="order" id="order">
			<a href="{:U('Estate/content')}?e_id={$order.e_id}&openid={$_SESSION['openid']}">
				<li>
					<img src="__PUBLIC__/Uploads/Estate/{$order.p_photo}">
					<div>
						<span class="span_1">预约成功</span>
						<h4>{$order.e_title|htmlspecialchars_decode|strip_tags|mb_substr=0,13,'utf-8'}...</h4>
						<p>时间：{$order.e_utime}</p>
						<p>地点：{$order.e_address}</p>
						<span class="span_2">{$order.e_rent}元/月</span>
					</div>
				</li>
			</a>
		</volist>
		<!-- <a href="content.html">
			<li>
				<img src="__PUBLIC__/Estate/images/hhzlsp.png">
				<div>
					<span class="span_1">预约成功</span>
					<h4>淮海中路附近商铺出租</h4>
					<p>时间：2018-08-20</p>
					<p>地点：黄浦区淮海中路809号</p>
					<span class="span_2">2.5万/月</span>
				</div>
			</li>
		</a>
		<a href="content.html">
			<li>
				<img src="__PUBLIC__/Estate/images/hhzlsp.png">
				<div>
					<span class="span_1">预约成功</span>
					<h4>淮海中路附近商铺出租</h4>
					<p>时间：2018-08-20</p>
					<p>地点：黄浦区淮海中路809号</p>
					<span class="span_2">2.5万/月</span>
				</div>
			</li>
		</a> -->
	</ul>

	<p id="margin-bottom"></p>
	<include file="EstatePublic/footer" />
</body>
</html>
