<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>上海著名医疗机构排行榜</title>
	<meta name="keywords" content="上海著名医疗机构排行榜" />
	<meta name="description" content="上海著名医疗机构排行榜" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
	<script type="text/javascript" src="__JS__jquery.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="__css__doctor.css?v=2"> -->
	<!-- <script>
		$(document).ready(function(){
			pushHistory();

			setTimeout(function(){
				window.addEventListener("popstate", function(e){
					setTimeout(function(){
						location.href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=22"
					},40000)
				}, false)
			},4000);
			function pushHistory() {
				var state = {
					title: "title",
					url: "#"
				};
				window.history.pushState(state, "title", "#");
			}
		})
	</script> -->
</head>
<style>
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #fff;
		/* background-image: url("__img__medical/back.png");
		background-size: 100% 500px;
    background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-position:right top; */
  }
  .top{
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
  }
  .top img{
    width: 25%;
  }
  .top .titl{
    font-size: 20px;
    font-weight: bold;
    position: relative;
  }
  .content{
    overflow: hidden;
    margin-bottom: 70px;
  }
  .content .left{
    float: left;
    width: 90%;
    margin: 5px 0;
    height: 150px;
    background-size: 100% 100%;
  }
  .content .right{
    float: right;
    width: 90%;
    margin: 5px 0;
    height: 150px;
    background-size: 100% 100%;
  }
  .office{
    width: 15%;
    height: 150px;
    color: #fff;
    float: left;
    background-color: #000;
    opacity: 0.8;
    text-align: center;
    line-height: 47px;
    font-size: 24px;
    writing-mode: vertical-lr;
  }
  .hospital{
    width: 85%;
    height: 150px;
    color: #fff;
    float: left;
    background-color: #000;
    opacity: 0.6;
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    font-weight: bolder;
  }
  .foot{
    float: left;
    margin: 10px;
    font-size: 12px;
  }

</style>
<body>
	<layout name="layout" />
  <div class="top">
    <img src="__img__medical/med0.jpg" alt="" />
    <div class="titl"><div style="border-bottom: 2px solid #000;width: 20%;position: absolute;top: 50%;"></div><span>上海著名医疗机构排行榜</span><div style="border-bottom: 2px solid #000;width: 20%;position: absolute;top: 50%;right: 0;"></div></div>
  </div>
  <div class="content">
			<div class="left" style="background-image:url(__img__medical/med1.jpg);">
        <div class="office">病理科</div>
        <div class="hospital">
          <span>复旦大学附属肿瘤医院</span>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med2.jpg);">
        <div class="hospital">
          <span>上海市精神卫生中心</span>
        </div>
        <div class="office">精神医学</div>
			</div>
			<div class="left" style="background-image:url(__img__medical/med3.jpg);">
        <div class="office">呼吸科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属中山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med4.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海交通大学医学院附属仁济医院</div>
          <div>第二军医大学长海医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：复旦大学附属中山医院</div>
        </div>
        <div class="office">消化病</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med5.jpg);">
        <div class="office">泌尿外科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>第二军医大学长海医院</div>
          <div>上海交通大学医学院附属仁济医院</div>
          <div>提名：复旦大学附属华山医院</div>
          <div>提名：复旦大学附属中山医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med6.jpg);">
        <div class="hospital" style="line-height: 30px;height: 130px;">
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>复旦大学附属华山医院</div>
          <div>第二军医大学长征医院</div>
          <div>复旦大学附属中山医院</div>
          <div>提名：上海交通大学医学院附属仁济医院</div>
        </div>
        <div class="office">肾脏病</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med7.jpg);">
        <div class="office">神经内科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 50px;height: 100px;">
          <div>复旦大学附属华山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med8.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属华山医院</div>
          <div>提名：上海交通大学医学院附属仁济医院</div>
          <div>提名：第二军医大学长征医院</div>
        </div>
        <div class="office">神经外科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med9.jpg);">
        <div class="office">骨科</div>
        <div class="hospital" style="line-height: 30px;height: 130px;">
          <div>上海市第六人民医院</div>
          <div>第二军医大学长征医院</div>
          <div>复旦大学附属华山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名:上海交通大学医学院附属第九人民医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med10.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属中山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
        <div class="office">心血管病</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med11.jpg);">
        <div class="office">心外科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属中山医院</div>
          <div>上海交通大学医学院附属上海儿童医学中心</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med12.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海市胸科医院</div>
          <div>同济大学附属上海市肺科医院</div>
          <div>复旦大学附属中山医院</div>
          <div>提名：复旦大学附属肿瘤医院</div>
        </div>
        <div class="office">胸外科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med13.jpg);">
        <div class="office">耳鼻喉科</div>
        <div class="hospital" style="line-height: 30px;height: 130px;">
          <div>复旦大学附属眼耳鼻喉科医院</div>
          <div>上海交通大学医学院附属新华医院</div>
          <div>提名：上海市第六人民医院</div>
          <div>提名：第二军医大学长海医院</div>
          <div>提名:上海交通大学医学院附属第一人民医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med14.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 50px;height: 100px;">
          <div>上海交通大学医学院附属第九人民医院</div>
          <div>提名：同济大学附属口腔医院</div>
        </div>
        <div class="office">口腔科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med15.jpg);">
        <div class="office">眼科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属眼耳鼻喉科医院</div>
          <div>提名:上海交通大学医学院附属第一人民医院</div>
          <div>提名:上海交通大学医学院附属第九人民医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med16.jpg);">
        <div class="hospital" style="line-height: 30px;height: 130px;">
          <div>复旦大学附属中山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：东方肝胆外科医院</div>
          <div>提名：复旦大学附属华山医院</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
        <div class="office">普通外科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med17.jpg);">
        <div class="office">整形外科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海交通大学医学院附属第九人民医院</div>
          <div>第二军医大学长海医院</div>
          <div>第二军医大学长征医院</div>
          <div>提名：复旦大学附属中山医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med18.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属华山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：上海市（复旦大学附属）公共卫生临床中心</div>
        </div>
        <div class="office">传染科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med19.jpg);">
        <div class="office">放射科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>复旦大学附属华山医院</div>
          <div>复旦大学附属中山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：第二军医大学长征医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med20.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海交通大学医学院附属仁济医院</div>
          <div>第二军医大学长征医院</div>
          <div>提名：复旦大学附属华山医院</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
        <div class="office">风湿病</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med21.jpg);">
        <div class="office">妇产科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 50px;height: 100px;">
          <div>复旦大学附属妇产科医院</div>
          <div>提名：上海交通大学医学院附属仁济医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med22.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>复旦大学附属中山医院</div>
          <div>提名：第二军医大学长海医院</div>
          <div>提名：上海交通大学医学院附属仁济医院</div>
        </div>
        <div class="office">麻醉科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med23.jpg);">
        <div class="office">内分泌科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>上海市第六人民医院</div>
          <div>提名：复旦大学附属华山医院</div>
          <div>提名：复旦大学附属中山医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med24.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 30px;height: 120px;">
          <div>复旦大学附属华山医院</div>
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：上海交通大学医学院附属新华医院</div>
        </div>
        <div class="office">皮肤科</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med25.jpg);">
        <div class="office">血液科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 50px;height: 100px;">
          <div>上海交通大学医学院附属瑞金医院</div>
          <div>提名：第二军医大学长海医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med26.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 50px;height: 100px;">
          <div>复旦大学附属华东医院</div>
          <div>提名：上海交通大学医学院附属瑞金医院</div>
        </div>
        <div class="office">老年医学</div>
			</div>
      <div class="left" style="background-image:url(__img__medical/med27.jpg);">
        <div class="office">小儿内科</div>
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>复旦大学附属儿科医院</div>
          <div>上海交通大学医学院附属上海儿童医学中心</div>
          <div>上海交通大学医学院附属新华医院</div>
          <div>提名：上海市儿童医院</div>
        </div>
			</div>
      <div class="right" style="background-image:url(__img__medical/med28.jpg);">
        <div class="hospital" style="line-height: 30px;padding-top: 20px;height: 130px;">
          <div>复旦大学附属儿科医院</div>
          <div>上海交通大学医学院附属新华医院</div>
          <div>上海交通大学医学院附属上海儿童医学中心</div>
          <div>提名：上海市儿童医院</div>
        </div>
        <div class="office">小儿外科</div>
			</div>
      <div class="foot">
        <span>来源：转载《上海热线》公众号</span>
      </div>
		</div><!-- content end -->
</body>
</html>
