<footer>
    <ul>
        <a href="/Home/Airport/index?openid={$_SESSION['openid']}"><li><img src="/Public/Airport/images/icon/index.png"><span>首页</span></li></a>
        <a href="/Home/Airport/order/Home/Airport/order?o_state&openid={$_SESSION['openid']}"><li><img src="/Public/Airport/images/icon/order-copy2.png"><span>订单</span></li></a>
        <a href="/Home/Airport/center?openid={$_SESSION['openid']}"><li><img src="/Public/Airport/images/icon/merber.png"><span>个人中心</span></li></a>
    </ul>
</footer>