<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>法律咨询</title>
<link rel="stylesheet" type="text/css" href="css/icon/iconfont.css">
<link rel="stylesheet" type="text/css" href="css/law.css">
<style type="text/css">

</style>
</head>
<body class="index">
<!-- header -->
<header>
	<!-- 全局检索 -->
	<div class="search">
		<form>
			<i class="iconfont">&#xe74b;</i>
			<input type="text" class="text" name="" placeholder="请输入">
			<input type="submit" class="sub" name="" value="搜索">
		</form>
	</div>
	<!-- the end -->
	<!-- banner -->
	<div class="m-slider">
		<div id="slider">
			<ul id="m-slider" class="cnt">
				<li>
					<a href="#1">
						<img src="images/banner11(1).jpg" class="imga">
						<!-- <p>1</p> -->
					</a>
				</li>
				<li>
					<a href="#2">
						<img src="images/banner11(2).jpg" class="imga">
						<!-- <p>2</p> -->
					</a>
				</li>
				<li>
					<a href="#3">
						<img src="images/banner11(3).jpg" class="imga">
						<!-- <p>3</p> -->
					</a>
				</li>
				<li>
					<a href="#4">
						<img src="images/banner11(1).jpg" class="imga">
						<!-- <p>4</p> -->
					</a>
				</li>
				<li>
					<a href="#1">
						<img src="images/banner11(3).jpg" class="imga">
						<!-- <p>5</p> -->
					</a>
				</li>
			</ul>
		</div>
		<ul id="icons" class="icons">
			<li class="nr curr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
		</ul>
	</div>
	<!-- the end -->
</header>
<!-- header the end -->
<!-- nav -->
<nav>
	<ul>
		<a href="">
			<li>
				<p><i class="iconfont nav">&#xe601;</i></p>
				<span>律师</span>
			</li>
		</a>
		<a href="">
			<li>
				<p><i class="iconfont nav">&#xe789;</i></p>
				<span>律师事务所</span>
			</li>
		</a>
		<a href="">
			<li>
				<p><i class="iconfont nav">&#xe787;</i></p>
				<span>法律咨询</span>
			</li>
		</a>
		<a href="">
			<li>
				<p><i class="iconfont nav">&#xe786;</i></p>
				<span>联系我们</span>
			</li>
		</a>
	</ul>
</nav>
<!-- nav the end -->
<!-- tbody -->
<div class="tbody">
	<div class="div1">
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont nav1">&#xe601;</i>金牌律师</h4>
		<!-- 选项卡 -->
		<div id="slider1" class="swipe">
			<ul class="box01_list">
				<li class="li_list">
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
				</li>
				<li class="li_list">
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
				</li>
				<li class="li_list">
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
					<a href="">
						<div>
							<img src="images/lanqiu.jpg">
							<p>注册公司</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="find_nav">
			<div class="find_nav_left">
				<div class="find_nav_list" id="pagenavi1">
					<ul>
						<li><a href="#" class="active"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="div2">
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont nav1">&#xe789;</i> 注册公司</h4>
		<div>
			<!-- <a href=""><img src="images/gaoerfu333.jpg"></a> -->
			<ul>
				<a href="">
					<li>
						<img src="images/lanqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/zuqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/wangqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/lanqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/zuqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/wangqiu.jpg">
						<span>注册公司</span>
					</li>
				</a>
			</ul>
		</div>
	</div>
	<div class="div3">
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont nav1">&#xe787;</i> 法律咨询</h4>
		<div>
			<!-- <div>
				<img src="images/jiuzhuang3.jpg">
				<div>
					<h4>法律咨询[CAMARTINA]</h4>
					<p>来自罗纳河谷的AOC，在阿劳德斯古堡酿酒师的精心呵护下，采用最传统的纯手工酿造，深深融入了南部法国风情的灵魂</p>
				</div>
			</div> -->
			<ul>
				<a href="">
					<li>
						<img src="images/jiuzhuang1.jpg">
						<span>法律咨询</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/jiuzhuang2.jpg">
						<span>法律咨询</span>
					</li>
				</a>
				<a href="">
					<li>
						<img src="images/jiuzhuang4.jpg">
						<span>法律咨询</span>
					</li>
				</a>
			</ul>
		</div>
	</div>
</div>
<!-- tbody the end -->
<link rel="stylesheet" type="text/css" href="http://www.qudaoplus.cn/statics/css/allfooter.css">
<footer id="footer">
  <ul>
      <a href="http://www.qudaoplus.cn/merber_all_show/index.php/home/Personnal/central"><li class="core li"><em></em><span>成员中心</span></li></a>
      <a href="http://shop.qudaoplus.cn/Home/Home/tellMe"><li class="vip on li"><em></em><span>成员专享</span></li></a>
      <!-- <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=32"><li class="activity"><em></em><span>精彩活动</span></li></a> -->
      <a href="http://shop.qudaoplus.cn/Home/Home/tellMe"><li class="steward li"><em></em><span>联系管家</span></li></a>
  </ul>
</footer>
<!-- 请在上方编写相关代码 -->
<!-- banner js -->
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/banner1227.js"></script>

<!-- xuanxiangka -->
<script type="text/javascript" src="js/touchslider.js"></script>
<script type="text/javascript">
$(".find_nav_list").css("left",0);

$(".find_nav_list li").each(function(){
		$(".sideline").css({left:0});
		$(".find_nav_list li").eq(0).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
});
var nav_w=$(".find_nav_list li").first().width();
$(".sideline").width(nav_w);
$(".find_nav_list li").on('click', function(){
	nav_w=$(this).width();
	$(".sideline").stop(true);
	$(".sideline").animate({left:$(this).position().left},300);
	$(".sideline").animate({width:nav_w});
	$(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
	var fn_w = ($(".find_nav").width() - nav_w) / 2;
	var fnl_l;
	var fnl_x = parseInt($(this).position().left);
	if (fnl_x <= fn_w) {
		fnl_l = 0;
	} else if (fn_w - fnl_x <= flb_w - fl_w) {
		fnl_l = flb_w - fl_w;
	} else {
		fnl_l = fn_w - fnl_x;
	}
	$(".find_nav_list").animate({
		"left" : fnl_l
	}, 300);
	
});
var fl_w=$(".find_nav_list").width();
var flb_w=$(".find_nav_left").width();
$(".find_nav_list").on('touchstart', function (e) {
	var touch1 = e.originalEvent.targetTouches[0];
	x1 = touch1.pageX;
	y1 = touch1.pageY;
	ty_left = parseInt($(this).css("left"));
});
$(".find_nav_list").on('touchmove', function (e) {
	var touch2 = e.originalEvent.targetTouches[0];
	var x2 = touch2.pageX;
	var y2 = touch2.pageY;
	if(ty_left + x2 - x1>=0){
		$(this).css("left", 0);
	}else if(ty_left + x2 - x1<=flb_w-fl_w){
		$(this).css("left", flb_w-fl_w);
	}else{
		$(this).css("left", ty_left + x2 - x1);
	}
	if(Math.abs(y2-y1)>0){
		e.preventDefault();
	}
});


for(n=1;n<9;n++){
	var page='pagenavi'+n;
	var mslide='slider'+n;
	var mtitle='emtitle'+n;
	arrdiv = 'arrdiv' + n;
	var as=document.getElementById(page).getElementsByTagName('a');
	var tt=new TouchSlider({id:mslide,'auto':'-1',fx:'ease-out',direction:'left',speed:600,timeout:5000,'before':function(index){
		var as=document.getElementById(this.page).getElementsByTagName('a');
		as[this.p].className='';
		this.p=index;
		
		fnl_x =  parseInt($(".find_nav_list li").eq(this.p).position().left);
		
		nav_w=$(".find_nav_list li").eq(this.p).width();
		$(".sideline").stop(true);
		$(".sideline").animate({left:$(".find_nav_list li").eq(this.p).position().left},300);
		$(".sideline").animate({width:nav_w},100);
		$(".find_nav_list li").eq(this.p).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
		var fn_w = ($(".find_nav").width() - nav_w) / 2;
		var fnl_l;
		if (fnl_x <= fn_w) {
			fnl_l = 0;
		} else if (fn_w - fnl_x <= flb_w - fl_w) {
			fnl_l = flb_w - fl_w;
		} else {
			fnl_l = fn_w - fnl_x;
		}
		$(".find_nav_list").animate({
			"left" : fnl_l
		}, 300);
	}});
	tt.page = page;
	tt.p = 0;
	//console.dir(tt); console.dir(tt.__proto__);

	for(var i=0;i<as.length;i++){
		(function(){
			var j=i;
			as[j].tt = tt;
			as[j].onclick=function(){
				this.tt.slide(j);
				return false;
			}
		})();
	}
}
</script>
</body>
</html>