<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>教育板块</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/icon/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/study.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/pictureViewer.css">
<style type="text/css">
.fixednav {
    position: fixed;
    top: 0;
    z-index: 265;
    width: 100%;
    opacity: .95;
}
</style>

<script type="text/javascript" src="__PUBLIC__/Consult/js/jquery-2.1.1.min.js"></script>
</head>
<body class="studycon">
<!-- header -->
<header>
	<!-- 全局检索 -->
<!-- 	<div class="search">
		<form>
			<i class="iconfont">&#xe74b;</i>
			<input type="text" class="text" name="" placeholder="请输入">
			<input type="submit" class="sub" name="" value="搜索">
		</form>
	</div> -->
	<!-- the end -->
	<!-- banner -->
	<div class="m-slider">
		<div id="slider">
			<ul id="m-slider" class="cnt">
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b111.jpg" class="imga">
						<!-- <p>1</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b222.jpg" class="imga">
						<!-- <p>2</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b333.jpg" class="imga">
						<!-- <p>3</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b444.jpg" class="imga">
						<!-- <p>4</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b555.jpg" class="imga">
						<!-- <p>5</p> -->
					</a>
				</li>
			</ul>
		</div>
		<ul id="icons" class="icons">
			<li class="nr curr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
		</ul>
	</div>
	<!-- the end -->
</header>
<!-- header the end -->
<!-- tbody -->
<h3 class="stitle" id="stitle">上海民办常青藤小学</h3>
<div class="studycontent">
	<img src="__PUBLIC__/Consult/images/cqtxx.jpg">
	<p></p>
	<p>
	    <span style="font-size: 14px;">上海民办常青藤小学位于上海市浦东新区康桥秀沿路800号，紧邻浦东高端别墅绿宝园，校区前身为上海长宁国际外籍人员子女学校，学校下设幼儿园、小学、中学部（初中筹建中），致力于培养乐于创新，充满活力的人才。这使得常青藤学校具有得天独厚的人文底蕴和环境优势。学校在校园环境设计上沿用长宁国际学校中西合璧的风格，配有适宜小班化、个性化教学功能齐全的教学设施。</span>
	</p>
	<p>
	    <br/>
	</p>
	<p>
	    <span style="font-size: 14px;">学校环境优美，绿树成荫，拥有宽广的室内外空间和丰富的功能配置，为学生兴趣特长成长创造了良好的环境。</span>
	</p>
	<img src="__PUBLIC__/Consult/images/5.jpg">
	<img src="__PUBLIC__/Consult/images/7.jpg">
	<p>
	    <strong><br/></strong><span style="font-size: 14px;">❤&nbsp; 室内空间：共有普通教室27间，专用教室15间，其中专用教室涵盖：</span>
	</p>
	<p>
	    <span style="font-size: 14px;">❤ 学术类：科学实验室三间、UOI探究教室、STEM教室二间、乐高教室、国学教室、史地教室、计算机语音教室；</span>
	</p>
	<p>
	    <span style="font-size: 14px;">❤&nbsp; 艺术类：美术教室、音乐教室2间、舞蹈房、剧院等；</span>
	</p>
	<p>
	    <span style="font-size: 14px;">❤&nbsp; 体育类：室内多功能体育馆（篮球、排球、羽毛球、攀岩等）、健身房、室外跑道、足球场等。</span>
	</p>
	<p>
	    <span style="font-size: 14px;">学校可共享康桥国际社区游泳池、迷你高尔夫、网球场等设施。</span>
	</p>
	<p>
		<img src="__PUBLIC__/Consult/images/16.jpg">
	    <br/>
	</p>
	<p style="font-size: 16px;">
	    <strong>学校位置</strong>
	</p>
	<p>
	    <strong><br/></strong>
	</p>
	<p>
	    <span style="font-size: 14px;">上海浦东新区民办常青藤小学坐落于浦东新区秀沿路800号，位于康桥国际社区，学校交通便捷，紧邻高速出口，距离陆家嘴、张江高科技园区、唐镇、三林、周浦、徐家汇等在20分钟-40分钟车程，距离地铁11号线2.7公里，校门口即为正建设中18号线沪南路站。</span>
	</p>
	<p>

	    <br/>
	</p>
	<p style="text-align: center;font-size: 16px; ">
	    <strong>课程设置</strong>
	</p>
	<img src="__PUBLIC__/Consult/images/17.jpg">
	<p>
	    <span style="font-size: 14px;">IBPYP中西融合课程体系”实现“两条腿走路”的愿望</span>
	</p>
	<p>
	    <span style="font-size: 14px;">PYP不是一个具体的课程，而是学习者的一种终身学习的方式。IBPYP课程和传统意义上教学中非常大的区别在于，IBPYP要以学生为主体，他的问题，他的想法为课程教授的重要线索，而不是简单的我要教你什么。其核心问题在于你要学什么，并且你想怎么学。在最终考察中，也有别于传统的课程考核，在IBPYP课程体系中，考察是多方面的，这种贯穿孩子整个学习规程的框架体系才是PYP的核心理念。因此上海常青藤幼儿园/小学的IBPYP中西融合课程体系，在小学毕业后，无论是选择中西融合的中学课程申请世界名校被广泛认可具备优势外，众多IB学校多年办学经验也证明该理念培养的学生由于扎实的学术基础、全面发展的综合素质在国内参加中考、高考具备充分的优势。</span>
	</p>
	<p>
		<img src="__PUBLIC__/Consult/images/18.jpg">
	    <br/>
	</p>
	<p>
	    <span style="font-size: 14px;">常青藤学校的中外教师共同开展二期课改和IB PYP的融合课程，我们走进常青藤小学的课堂一探究竟：</span>
	</p>
	<p>
	    <br/>
	</p>
	<p>
	    <strong><span style="color: rgb(0, 176, 240);font-size: 16px;">语文</span></strong>
	</p>
	<p>
	    <span style="font-size: 14px;"><span style="">熟读谜语诗，会作诗来也会吟</span><strong><span style=""><br/></span></strong></span>
	</p>
	<p>
	    <span style=" font-size: 14px;"><br/></span>
	</p>
	<p>
	    <span style=" font-size: 14px;">同样部署版语文教材，常青藤小学一年级的语文课则是以老师讲述谜语诗的方法，对诗歌背后的故事娓娓道来，从而提高了学生的学习兴趣和热情。学生们借助拼音和老师的示范，跟着老师一起大声朗读并共同分享诗歌中有趣之处。最后老师还会引导学生自己仿写一首诗歌，从而更好地体味诗词的意境，激发学生对汉字文化内涵探究。此外，常青藤学校的的语文教研团队还自主研发了分级阅读课程，精心挑选和整理出不同阅读级别的推荐书单，引导学生们感受阅读的快乐，提升阅读能力。</span>
	</p>
	<p>
		<img src="__PUBLIC__/Consult/images/19.jpg">
		<img src="__PUBLIC__/Consult/images/20.jpg">
	    <span style=""><br/></span>
	</p>
	<p>
	    <span style=""></span>
	</p>
	<p style="white-space: normal;">
	    <strong><span style="color: rgb(0, 176, 240);font-size: 16px;">数学</span></strong>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">熟读谜语诗，会作诗来也会吟<strong><span style="color: rgb(0, 176, 240);"><br/></span></strong></span>
	</p>
	<p style="white-space: normal;">
	    <br/>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">同样部署版语文教材，常青藤小学一年级的语文课则是以老师讲述谜语诗的方法，对诗歌背后的故事娓娓道来，从而提高了学生的学习兴趣和热情。学生们借助拼音和老师的示范，跟着老师一起大声朗读并共同分享诗歌中有趣之处。最后老师还会引导学生自己仿写一首诗歌，从而更好地体味诗词的意境，激发学生对汉字文化内涵探究。此外，常青藤学校的的语文教研团队还自主研发了分级阅读课程，精心挑选和整理出不同阅读级别的推荐书单，引导学生们感受阅读的快乐，提升阅读能力。</span>
	</p>
	<p>
		<img src="__PUBLIC__/Consult/images/21.jpg">
		<img src="__PUBLIC__/Consult/images/22.jpg">
	    <span style="color: rgb(0, 0, 0);"><br/></span>
	</p>
	<p style="white-space: normal;">
	    <strong><span style="color: rgb(0, 176, 240);font-size: 16px;">英语</span></strong>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">熟读谜语诗，会作诗来也会吟<strong><span style="color: rgb(0, 176, 240);"><br/></span></strong></span>
	</p>
	<p style="white-space: normal;">
	    <br/>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">同样部署版语文教材，常青藤小学一年级的语文课则是以老师讲述谜语诗的方法，对诗歌背后的故事娓娓道来，从而提高了学生的学习兴趣和热情。学生们借助拼音和老师的示范，跟着老师一起大声朗读并共同分享诗歌中有趣之处。最后老师还会引导学生自己仿写一首诗歌，从而更好地体味诗词的意境，激发学生对汉字文化内涵探究。此外，常青藤学校的的语文教研团队还自主研发了分级阅读课程，精心挑选和整理出不同阅读级别的推荐书单，引导学生们感受阅读的快乐，提升阅读能力。</span>
	</p>
	<p>
		<img src="__PUBLIC__/Consult/images/gggg.jpg">
		<img src="__PUBLIC__/Consult/images/gfgf.jpg">
	    <br/>
	</p>
	<p style="white-space: normal;">
	    <strong><span style="color: rgb(0, 176, 240);font-size: 16px;">UOI及音体美</span></strong>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">熟读谜语诗，会作诗来也会吟<strong><span style="color: rgb(0, 176, 240);"><br/></span></strong></span>
	</p>
	<p style="white-space: normal;">
	    <br/>
	</p>
	<p style="white-space: normal;">
	    <span style="font-size: 14px;">同样部署版语文教材，常青藤小学一年级的语文课则是以老师讲述谜语诗的方法，对诗歌背后的故事娓娓道来，从而提高了学生的学习兴趣和热情。学生们借助拼音和老师的示范，跟着老师一起大声朗读并共同分享诗歌中有趣之处。最后老师还会引导学生自己仿写一首诗歌，从而更好地体味诗词的意境，激发学生对汉字文化内涵探究。此外，常青藤学校的的语文教研团队还自主研发了分级阅读课程，精心挑选和整理出不同阅读级别的推荐书单，引导学生们感受阅读的快乐，提升阅读能力。</span>
	</p>
	<p>
	    <br/>
	</p>
	<p style="text-align: center;font-size: 16px;">
	    <strong>师资团队</strong>
	</p>
	<p>
	    <span style="font-size: 14px;">常青藤学校每个班级采用双班主任制度，一位是具有多年双语教学经验的中教老师，一位是来自母语国家的外教老师。中教外教老师在每天的教学工作中紧密合作,外教老师全程参与学生的日常学习生活。小学英语教材学校选用了朗文教材，以培养独立阅读者和培养知识探究力为初衷，激发孩子求职欲。在浸润式的外教英语教学环境里，辅以每周两节中教授课，帮助孩子作为第二语言学习者更好地学习英语。</span>
	</p>
	<p style="text-align: center;"></p>
	<table>
	    <tbody>
	        <tr class="firstRow">
	            <td width="987" valign="top" style="word-break: break-all;border: 1px solid;">
					<p style="white-space: normal; text-align: center;">
						<img src="__PUBLIC__/Consult/images/laoshi111.png" style="width: 150px">
					</p>
	                <p style="text-align: center;">
	                    陈惠珍
	                </p>
	                <p style="text-align: center;">
	                    上海浦东新区民办常青藤小学校长。原长宁区江苏路第五小学副校长，上海市小学数学专业委员会常务理事。
	                </p>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p style="text-align: center;"></p>
	<table>
	    <tbody>
	        <tr class="firstRow">
	            <td width="987" valign="top" style="word-break: break-all;border: 1px solid;">
					<p style="white-space: normal; text-align: center;">
						<img src="__PUBLIC__/Consult/images/laoshi222.png" style="width: 150px">
					</p>
	                <p style="white-space: normal; text-align: center;">
	                    LisaLiang
	                </p>
	                <p style="white-space: normal; text-align: center;">
	                    上海浦东民办常青藤小学副校长
	                </p>
	                <p style="white-space: normal;">
	                    澳大利亚塔斯马尼亚大学双学士学位。在上海包玉刚实验学校小学部任教九年，六年年级组长经验。上海包玉刚实验学校中文暑期课程学术主任。第三届上海青年民办教师大奖赛中文学科二等奖获得者。参与2017年度中国教育学会年度论文《声律启蒙对小学语文教育的价值研究》撰写。中国文化部艺术发展中心注册高级书法教师。
	                </p>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p style="text-align: center;">
	    <br/>
	</p>
	<div class="main-content">
		<div class="image-list">
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi111.jpg" alt=""></div>
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi222.jpg" alt=""></div>
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi333.jpg" alt=""></div>
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi444.jpg" alt=""></div>
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi555.jpg" alt=""></div>
			<div class="cover"><img src="__PUBLIC__/Consult/images/jiaoshi666.jpg" alt=""></div>
		</div>
	</div>
</div>
<!-- tbody the end -->
<div class="footer">
	<a href="" class="left"><img src="__PUBLIC__/Consult/images/icon/colle2.svg"><span>已收藏</span></a>
	<a href="http://www.qudaoplus.cn/merber_all_show/index.php/Home/changqing" class="right">立即报名</a>
</div>
<script type="text/javascript">
//导航跟随
(function(){
var nav=$("#stitle");
var win=$(window);
var sc=$(document);
win.scroll(function(){
  if(sc.scrollTop()>=218){
    nav.addClass("fixednav");
   $(".navTmp").fadeIn();
  }else{
   nav.removeClass("fixednav");
   $(".navTmp").fadeOut();
  }
}) 
})();
</script>
<!-- <script type="text/javascript" src="__PUBLIC__/Consult/js/jquery-1.8.3.min.js"></script> -->
<!-- 请在上方编写相关代码 -->
<!-- banner js -->
<script type="text/javascript" src="__PUBLIC__/Consult/js/banner1227.js"></script>
<!-- 相册 -->
<script src="__PUBLIC__/Consult/js/jquery.mousewheel.min.js"></script>
<script src="__PUBLIC__/Consult/js/pictureViewer.js"></script>
<script>
$(function () {
	$('.image-list').on('click', '.cover', function () {
		var this_ = $(this);
		var images = this_.parents('.image-list').find('.cover');
		var imagesArr = new Array();
		$.each(images, function (i, image) {
			imagesArr.push($(image).children('img').attr('src'));
		});
		$.pictureViewer({
			images: imagesArr, //需要查看的图片，数据类型为数组
			initImageIndex: this_.index() + 1, //初始查看第几张图片，默认1
			scrollSwitch: true //是否使用鼠标滚轮切换图片，默认false
		});
	});
});
</script>
</body>
</html>