<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>教育板块</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/icon/iconfont.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/study.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Consult/css/pictureViewer.css">
<style type="text/css">

</style>
</head>
<body class="index">
<!-- header -->
<header>
	<!-- 全局检索 -->
	<div class="search">
		<form>
			<i class="iconfont">&#xe74b;</i>
			<input type="text" class="text" name="" placeholder="请输入">
			<input type="submit" class="sub" name="" value="搜索">
		</form>
	</div>
	<!-- the end -->
	<!-- banner -->
	<div class="m-slider">
		<div id="slider">
			<ul id="m-slider" class="cnt">
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b111.jpg" class="imga">
						<!-- <p>1</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b222.jpg" class="imga">
						<!-- <p>2</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b333.jpg" class="imga">
						<!-- <p>3</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b444.jpg" class="imga">
						<!-- <p>4</p> -->
					</a>
				</li>
				<li>
					<a href="">
						<img src="__PUBLIC__/Consult/images/b555.jpg" class="imga">
						<!-- <p>5</p> -->
					</a>
				</li>
			</ul>
		</div>
		<ul id="icons" class="icons">
			<li class="nr curr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
			<li class="nr"></li>
		</ul>
	</div>
	<!-- the end -->
</header>
<!-- header the end -->
<!-- nav -->
<nav>
	<ul>
		<a href="study_list.html">
			<li>
				<!--<p><i class="iconfont nav">&#xe6ee;</i></p>-->
				<p><img src="__PUBLIC__/Consult/images/icon/youeryuan.svg"/></p>
				<span>幼儿园</span>
			</li>
		</a>
		<a href="study_list.html">
			<li>
				<!--<p><i class="iconfont nav">&#xe78d;</i></p>-->
				<p><img src="__PUBLIC__/Consult/images/icon/xiaoxue.svg"/></p>
				<span>小学</span>
			</li>
		</a>
		<a href="study_list.html">
			<li>
				<!--<p><i class="iconfont nav">&#xe60d;</i></p>-->
				<p><img src="__PUBLIC__/Consult/images/icon/zhongxue.svg"/></p>
				<span>中学</span>
			</li>
		</a>
		<a href="http://www.qudaoplus.cn/merber_all_show/index.php/Home/changqing">
			<li>
				<!--<p><i class="iconfont nav">&#xe78c;</i></p>-->
				<p><img src="__PUBLIC__/Consult/images/icon/baoming.svg"/></p>
				<span>在线报名</span>
			</li>
		</a>
	</ul>
</nav>
<!-- nav the end -->
<!-- tbody -->
<div class="tbody">
	<div class="div1">
		<!-- <h4><span class="spanhr"><hr></span><span>名校推荐</span><span class="spanhr"><hr></span></h4> -->
		<h5>
			<span>名校推荐</span>
			<i class="iconfont">&#xe606;</i>
		</h5>
		<ul>
			<li>
				<a href="study_content.html">
					<img src="__PUBLIC__/Consult/images/cqtxx.jpg">
					<p>上海常青藤学校</p>
				</a>
			</li>
			<!--<li>-->
				<!--<a href="study_content.html">-->
					<!--<img src="__PUBLIC__/Consult/images/cqtxx.jpg">-->
					<!--<p>上海常青藤学校</p>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li>-->
				<!--<a href="study_content.html">-->
					<!--<img src="__PUBLIC__/Consult/images/cqtxx.jpg">-->
					<!--<p>上海常青藤学校</p>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li>-->
				<!--<a href="study_content.html">-->
					<!--<img src="__PUBLIC__/Consult/images/cqtxx.jpg">-->
					<!--<p>上海常青藤学校</p>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li>-->
				<!--<a href="study_content.html">-->
					<!--<img src="__PUBLIC__/Consult/images/cqtxx.jpg">-->
					<!--<p>上海常青藤学校</p>-->
				<!--</a>-->
			<!--</li>-->
			<!--<li>-->
				<!--<a href="study_content.html">-->
					<!--<img src="__PUBLIC__/Consult/images/cqtxx.jpg">-->
					<!--<p>上海常青藤学校</p>-->
				<!--</a>-->
			<!--</li>-->
		</ul>
		<a href="">查看更多》</a>
	</div>
	<div class="div2">
		<!-- <h4><span class="spanhr"><hr></span><span>优秀教师</span><span class="spanhr"><hr></span></h4> -->
		<h5>
			<span>优秀教师</span>
			<i class="iconfont">&#xe602;</i>
		</h5>
		<div class="main-content">
			<div class="image-list">
				<div class="cover ctop1" style="border-bottom: 1px solid #fff;border-right: 1px solid #fff;"><img src="__PUBLIC__/Consult/images/jiaoshi111.jpg" alt=""></div>
				<div class="cover ctop1" style="border-bottom: 1px solid #fff;border-right: 1px solid #fff;margin-left: -4px;"><img src="__PUBLIC__/Consult/images/jiaoshi222.jpg" alt=""></div>
				<div class="cover ctop1" style="border-bottom: 1px solid #fff;margin-left: -4px;"><img src="__PUBLIC__/Consult/images/jiaoshi333.jpg" alt=""></div>
				<div class="cover ctop2" style="border-right: 1px solid #fff;margin-top: -4px"><img src="__PUBLIC__/Consult/images/jiaoshi444.jpg" alt=""></div>
				<div class="cover ctop2" style="border-right: 1px solid #fff;margin-left: -4px;margin-top: -4px"><img src="__PUBLIC__/Consult/images/jiaoshi555.jpg" alt="" ></div>
				<div class="cover ctop2" style="margin-left: -4px;margin-top: -4px"><img src="__PUBLIC__/Consult/images/jiaoshi666.jpg" alt=""></div>
			</div>
		</div>
		<a href="">查看更多》</a>
	</div>
	<div class="div3">
		<!-- <h4><span class="spanhr"><hr></span><span>推荐课程</span><span class="spanhr"><hr></span></h4> -->
		<h5>
			<span>推荐课程</span>
			<i class="iconfont">&#xe608;</i>
		</h5>
		<div>
			<span><a href=""><img src="__PUBLIC__/Consult/images/kecheng.jpg"></a></span>
			<ul>
				<li>
					<a href="study_curri.html">
						<img src="__PUBLIC__/Consult/images/kkkccc.jpg">
						<p>推荐课程</p>
					</a>
				</li>
				<!--<li>-->
					<!--<a href="study_curri.html">-->
						<!--<img src="__PUBLIC__/Consult/images/kkkccc.jpg">-->
						<!--<p>推荐课程</p>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="study_curri.html">-->
						<!--<img src="__PUBLIC__/Consult/images/kkkccc.jpg">-->
						<!--<p>推荐课程</p>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="study_curri.html">-->
						<!--<img src="__PUBLIC__/Consult/images/kkkccc.jpg">-->
						<!--<p>推荐课程</p>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="study_curri.html">-->
						<!--<img src="__PUBLIC__/Consult/images/kkkccc.jpg">-->
						<!--<p>推荐课程</p>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="study_curri.html">-->
						<!--<img src="__PUBLIC__/Consult/images/kkkccc.jpg">-->
						<!--<p>推荐课程</p>-->
					<!--</a>-->
				<!--</li>-->
			</ul>
		</div>
		<!--<a href="">查看更多》</a>-->
	</div>
</div>
<!-- tbody the end -->
<link rel="stylesheet" type="text/css" href="http://www.qudaoplus.cn/statics/css/allfooter.css">
<footer id="footer">
  <ul>
      <a href="http://www.qudaoplus.cn/merber_all_show/index.php/home/Personnal/central"><li class="core li"><em></em><span>成员中心</span></li></a>
      <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=22"><li class="vip on li"><em></em><span>成员专享</span></li></a>
      <!-- <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=32"><li class="activity"><em></em><span>精彩活动</span></li></a> -->
      <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=25"><li class="steward li"><em></em><span>联系管家</span></li></a>
  </ul>
</footer>

<!-- 请在上方编写相关代码 -->
<!-- banner js -->
<script type="text/javascript" src="__PUBLIC__/Consult/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Consult/js/banner1227.js"></script>
<!-- 相册 -->
<script src="__PUBLIC__/Consult/js/jquery.mousewheel.min.js"></script>
<script src="__PUBLIC__/Consult/js/pictureViewer.js"></script>
<script>
$(function () {
	$('.image-list').on('click', '.cover', function () {
		var this_ = $(this);
		var images = this_.parents('.image-list').find('.cover');
		var imagesArr = new Array();
		$.each(images, function (i, image) {
			imagesArr.push($(image).children('img').attr('src'));
		});
		$.pictureViewer({
			images: imagesArr, //需要查看的图片，数据类型为数组
			initImageIndex: this_.index() + 1, //初始查看第几张图片，默认1
			scrollSwitch: true //是否使用鼠标滚轮切换图片，默认false
		});
	});
});
</script>
</body>
</html>