<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>销售查询</title>
    <meta name="keywords" content="渠道PLUS丨天朝上品贵人酒代理销售查询" />
    <meta name="description" content="您可以查询您每月销售单量" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="http://www.qudaoclub.com/images/favicon.ico" type="image/x-icon"/>
    <script src="__JS__jquery.min.js"></script>
    <script src="__JS__mobiscroll.jquery.min.js"></script>
    <link href="__css__mobiscroll.jquery.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__css__agent.css?v=1">
    <script>
      var str = '<?php echo $json ?>';
      if ( str ) {
        var obj = eval('(' + str + ')');
        if ( obj.code=='-1' ) {
          $('body').html('');
          alert(obj.message);
          window.location.href = obj.url;
        }
      }
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        var url=encodeURIComponent(location.href.split('#')[0]);
        var title ="渠道PLUS丨天朝上品贵人酒代理销售查询";            //标题
        var description ="您可以查询您每月销售单量";     //摘要
        var thisUrl = location.href.split('#')[0];         //跳转的连接
        var imgUrl ="http://www.qudaoplus.cn/merber_all_show/Public/Club/images/coupon/share.jpg";             // 图片
        $.ajax({
            type : "get",
            url : "http://www.qudaoplus.cn/php/jssdk.php?url="+url,
            dataType : "jsonp",
            jsonp: "callback",
            jsonpCallback:"success_jsonpCallback",
            success : function(data){
                wx.config({
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    url: data.url,
                    jsApiList: [
                       "onMenuShareTimeline", //分享给好友
                       "onMenuShareAppMessage", //分享到朋友圈
                       "onMenuShareQQ",  //分享到QQ
                       "onMenuShareWeibo" //分享到微博
                    ]
                });
            },
            error:function(data){
                alert("连接失败！");
            }
        });
        wx.ready(function (){
            var shareData = {
                title: title,                                    //标题
                desc: description,                               //内容
                link: thisUrl,                                   //链接
                imgUrl: imgUrl                                   //图片
            };
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>

    <script type=text/javascript>
      var browser = {
      ua: navigator.userAgent.toLowerCase(),
      msie: function() {
        return /msie/.test(this.ua);
      },
      ie6: function() {
        var self = this;
        return self.msie() && /msie 6./.test(self.ua);
      },
      ie7: function() {
        var self = this;
        return self.msie() && /msie 7.0/.test(self.ua);
      },
      ie8: function() {
        var self = this;
        return self.msie() && /msie 8.0/.test(self.ua);
      }
      };
      if (!browser.ie6() && !browser.ie7()) {} else {
      window.location.href = 'update.html';
      }
      $(document).ready(function(){
          //	点击menu中的li改变banner中的图片
              $(".menu li").click(function(){
                  var num=$(this).index();
                  $('.banner li').eq(num).fadeIn(500).siblings().fadeOut(500);
                  $(this).addClass('active').siblings().removeClass('active');
              });
          //给banner中的img加遮罩
              $(".banner li .img-box").hover(function(){
                  $(this).addClass('active').find('a').fadeIn(300);
              },function(){
                  $(this).removeClass('active').find('a').fadeOut(300);
              });
      });
    </script>
</head>

<body>

    <figure>
        <img src="__img__agent/card.jpg" alt="">
        <div class="content">
          <if  condition=" $memberImage neq null ">
            <em class="portrait"><img src="{$memberImage}" alt=""></em>
          <else />
            <em class="portrait"><img src="__img__headimg.jpg" alt=""></em>
          </if>
            <h2>{$name}{$sex}</h2>
            <h3>成员身份：{$groupName}</h3>
            <ul>
                <li class="btn">
                    <h4>{$y}年</h4>
                    <span><b>{$m}</b>月</span>
                    <input type="hidden">
                </li>
                <li>
                    <h4>日销量(箱)</h4>
                    <span>{$getDOrdersSum}</span>
                </li>
                <li>
                    <h4>当月销量(箱)</h4>
                    <span>{$getMOrdersSum}</span>
                </li>
                <li>
                    <h4>总销量(箱)</h4>
                    <span>{$getOrdersSum}</span>
                </li>
            </ul>
        </div>
    </figure>

    <section>
        <ul>
          <if  condition=" $reArr['code'] eq '-6' ">
            <div style="text-align:center!important" >{$reArr['message']}</div>
          <else />
            <volist id="v" name="getOrders">
              <li>
                  <img src="__img__agent/alcohol.jpg" alt="">
                  <div>
                      <h1>姓&#12288;&#12288;名：{$v.Receiver}</h1>
                      <h2>订单编号：<span>{$v.BillNumber}</span></h2>
                      <h3>订单金额：{$v.TotalMoney}元</h3>
                      <h4>下单时间：{$v.SubmitTime}</h4>
                      <h5>数&#12288;&#12288;量：{$v.ItemList.0.Number}箱</h5>
                      <h6>订单状态：<span>{$v.StatusName}</span></h6>
                  </div>
              </li>
            </volist>
          </if>
        </ul>
    </section>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function(){
      var openid = '<?php echo $openid; ?>';
        var $btn = $('.btn'),
            $date = $btn.find('input');

        var now = new Date(),
            minDate = new Date(now.getFullYear() - 1, 11, 31);

        var $html = $('section ul');

        $date.mobiscroll().date({
            theme: 'ios',
            display: 'bottom',
            mode: 'bubble',
            dateFormat: 'yyyy-mm',
            lang: 'zh',
            min: minDate,
            max: now,
            onSet:function(valueText,inst){
               //点击确定以后的结果
                var time = $date.val(),
                    minTime = time + '-01 00:00:00',
                    year = time.slice(0,4),
                    month = time.slice(5,7),
                    maxTime;

                $btn.find('h4').text(year+'年').siblings('span').find('b').text(month);

                if(month == 12){
                    year++;
                    month = '01';
                    maxTime = year + '-' + month + '-01 00:00:00';
                }
                else{
                    month = parseFloat(month);
                    month = month >= 9 ? '-' + (month + 1) : '-0' + (month +1);
                    maxTime = year + month + '-01 00:00:00';
                }
                $.ajax({
                    type: "POST",
                    url: "http://www.qudaoplus.cn/merber_all_show/index.php/home/order/seOrder",
                    data:{
                        openid: openid,
                        start : minTime,
                        end   : maxTime
                    },
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function(data) {
                        data = eval( '(' +data+ ')' );
                        // console.log(data[0]);
                        var html = [];
                        for(var i = 0; i < data.length; i++){
                            html += '<li><img src="__img__agent/alcohol.jpg" alt=""><div><h1>姓&#12288;&#12288;名：'+data[i].Receiver+'</h1><h2>订单编号：<span>'+data[i].BillNumber+'</span></h2><h3>订单金额：'+data[i].TotalMoney+'元</h3><h4>下单时间：'+data[i].SubmitTime+'</h4><h5>数&#12288;&#12288;量：'+data[i].ItemList[0].Number+'箱</h5><h6>订单状态：<span>'+data[i].StatusName+'</span></h6></div></li>'
                        }

                        $html.html('');

                        $html.html(html);
                    }
                });



            }
        });

        $btn.click(function(){
            $date.mobiscroll('show');
        });
    })

</script>
