<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>成员升级</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="http://www.qudaoclub.com/images/favicon.ico?v=1" type="image/x-icon"/>
    <link rel="stylesheet" href="__css__merberRank.css">
</head>
<body class="detail">
<div class="card">
    <img src="https://files.1card1.cn/g1/M02/E7/4B/CgoMA1mT2r6ALqUjAACMWuISPsQ315.png" alt="">
</div>
<div class="section title">
    <h2>悦享成员</h2>
    <h3>有效期 1 年</h3>
</div>
<div class="section last">
    <h4>会员&成员权益</h4>
    <p>
        【医疗服务】<br/>
        受赠：渠道名医免费就诊2次<br/>
        折扣福利：渠道名医就诊，可享成员专属优惠<br/>
        3000元/次诊疗 10000元/次住院<br/>
        <br/>
        【金融服务】<br/>
        向平台合作机构申请300万以内免抵押贷款资格，<br/>
        审核通过提供相应服务<br/>
        <br/>
        【精彩活动】<br/>
        根据成员喜好（需求）获邀参与部分渠道PLUS活动，<br/>
        或作为嘉宾邀请参加活动资格<br/>
        会员活动展示及报名，参与人员及活动详情、<br/>
        活动场地、活动用品展示资格<br/>
        <br/>
        【成员风采】<br/>
        详细信息补充，图片、视频、公司等信息的展示<br/>
        <br/>
        【珍品商城 & 成员特惠】<br/>
        受赠：上架符合渠道PLUS定位的高端商品至珍品商城单一经销权<br/>
        折扣福利：珍品商城内购物及成员特惠内活动，<br/>
        可享悦享成员专属积分使用权益<br/>
        <br/>
        【推广】<br/>
        受赠：《名流PERSONAGE》微信订阅号推广1次<br/>
        受赠：渠道PLUS网站+渠道PLUS微信订阅号专题推送资格1次<br/>
        受赠：渠道PLUS活动参与推广展示资格<br/>
        <br/>
        【杂志】<br/>
        受赠：1年期“才智礼遇”——《名流PERSONAGE》檀香专属定制版<br/>
        折扣福利：购买“才智礼遇”——《名流PERSONAGE》檀香专属定制版以成员个人名义馈赠友人，可享专属优惠168元/本<br/>
        折扣福利：软文广告购买折扣（具体折扣请咨询私人会员经理）<br/>
        <br/>
        【新成员专享】<br/>
        受赠：渠道专享礼品(天朝上品贵人酒2瓶或其他等值礼品）<br/>
        <br/>
        【会员福利】<br/>
        享受会员福利资格<br/>
        生日鲜花及专属贺卡<br/>
        <br/>
        更多权益持续增加中……<br/>
        如您所需支付的金额超出银行单笔支付限额，请联系您的服务经理解决<br/>
    </p>
</div>
<div class="section btn">
    <span>￥29999</span>
    <a onclick="callpay()">立即购买</a>
</div>
</body>
</html>
<script type="text/javascript" src="__Club__statics/css/vendor/jquery-1.10.2.min.js"></script>
