<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>成员分类</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!-- 防止手机点击放大问题 -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <!-- the end -->
    <link rel="shortcut icon" href="http://www.qudaoclub.com/images/favicon.ico?v=1" type="image/x-icon"/>
    <link rel="stylesheet" href="__css__merberRank.css">
</head>
  <body class="detail">
    <div class="card">
        <img src="{$card_img}" alt="">
    </div>
    <div class="section title">
        <h2>{$arr.GroupName}</h2>
        <h3>有效期 1 年</h3>
    </div>
    <div class="section last">
      <h4>会员&成员权益</h4>
        <p style="font-weight: bold;">温馨提示：<br>
            因微信交易限额推荐使用以下方式支付：<br>
            对公转账<br>
            公司名称：上海渠道商务咨询有限公司<br>
            账    号：32494708010140751<br>
            开 户 行：农商银行康桥支行<br>
            转账成功后三个工作日内，会开放正式会员权益及功能<br>
            备注：如有疑问或无法对公转账，可以联系客户经理或拨打客服热线：021-53829777。<br>
        </p>
      <p style="white-space: pre-line;">
          {$arr.MemberRight}

      </p>
    </div>
  </body>
</html>

<script type="text/javascript" src="__Club__statics/css/vendor/jquery-1.10.2.min.js"></script>
