<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>详情页</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Estate/css/style.css">
<script src="__PUBLIC__/Estate/js/jquery-1.8.3.min.js"></script>
</head>
<body class="content">
	<!--大图轮播-->
	<div class="container">
		<div id="slide" class="slide" class="index-slide" alt="star">
			<!-- 轮播图片数量可自行增减 -->
			<div class="img"><img src="__PUBLIC__/Estate/images/photo.png"/></div>
			<div class="img"><img src="__PUBLIC__/Estate/images/photo.png"/></div>
			<div class="img"><img src="__PUBLIC__/Estate/images/photo.png"/></div>
			<div class="img"><img src="__PUBLIC__/Estate/images/photo.png"/></div>
			<div class="img"><img src="__PUBLIC__/Estate/images/photo.png"/></div>

			<div class="slide-bt"></div>
		</div>
		<!-- <button onclick="left()">上一页</button>
		<button onclick="right()">下一页</button> -->
	</div>
	<!--大图轮播-->
	<div class="div_1">
		<h4>{$content.e_category}详情</h4>
		<div>
			<h4>{$content.e_title}</h4>
			<!-- <h4>虹梅南路附近</h4> -->
			<p>
				<span class="span_1">{$content.e_rent}元/月</span>
				<span class="span_2">{$content.e_payment}</span>
				<span class="span_3">添加收藏</span><a href=""><img src="__PUBLIC__/Estate/images/shouc1.png"></a>
			</p>
		</div>
	</div>
	<div class="div_2">
		<div>
			<h4>基本信息</h4>
			<span>装修：{$content.e_conditions}</span><span>面积：{$content.e_area}㎡</span>
			<span>楼层：{$content.e_floor}层</span><span>概况：{$content.e_category}</span>
			<if condition="$content.e_category eq '住宅'"><span>户型：{$content.e_housetype}</span><else /><span>层高：{$content.e_height}m</span></if>
			<span>免租期：7天</span>
			<span>付款方式：{$content.e_payment}</span><if condition="$content.e_category eq '住宅'"><span>小区地址：{$content.e_community}</span><else /></if>
		</div>
		<if condition="$content.e_category eq '住宅'">
		<div>
			<h4>配套设施</h4>
			<ul>
				<li><img src="__PUBLIC__/Estate/images/chuang.png">床</li>
				<li><img src="__PUBLIC__/Estate/images/dianshi.png">电视</li>
				<li><img src="__PUBLIC__/Estate/images/kongtiao.png">空调</li>
				<li><img src="__PUBLIC__/Estate/images/xiyiji.png">洗衣机</li>
				<li><img src="__PUBLIC__/Estate/images/nuanqi.png">暖气</li>
				<li><img src="__PUBLIC__/Estate/images/yangtai.png">阳台</li>
				<li><img src="__PUBLIC__/Estate/images/yigui.png">衣柜</li>
				<li><img src="__PUBLIC__/Estate/images/reshuiqi.png">热水器</li>
				<li><img src="__PUBLIC__/Estate/images/weibolu.png">微波炉</li>
				<li><img src="__PUBLIC__/Estate/images/bingxiang.png">冰箱</li>
				<li><img src="__PUBLIC__/Estate/images/chufang.png">厨房</li>
				<li><img src="__PUBLIC__/Estate/images/meiqi.png">煤气</li>
				<li><img src="__PUBLIC__/Estate/images/zhuoyi.png">桌椅</li>
				<li><img src="__PUBLIC__/Estate/images/weishengjian.png">卫生间</li>
				<li><img src="__PUBLIC__/Estate/images/chewei.png">车位</li>
			</ul>
		</div>
		<else/></if>

		<div>
			<h4>地址</h4>
			<h4>{$content.e_address}</h4>
			<p>{$content.e_describe}</p>
		</div>

		<div>
			<h4>周边交通</h4>
			<p>{$content.e_describe}</p>
			<img src="__PUBLIC__/Estate/images/map.png">
		</div>
	</div>
	<p id="margin-bottom"></p>
	<footer>
		<img src="__PUBLIC__/Estate/images/kai.png">
		<div>
			<p>杨凯</p>
			<p><img src="">金牌经纪人</p>
		</div>
		<a href="{:U('Estate/appoint')}?e_id={$content.e_id}&openid={$_SESSION['openid']}" class="a_2"><img src="__PUBLIC__/Estate/images/yu.png">预约看房</a>
		<a href="" class="a_1"><img src="__PUBLIC__/Estate/images/tell1.png"><span>电话联系</span></a>
	</footer>
<script>
var autoLb = false;          //autoLb=true为开启自动轮播
var autoLbtime = 1;         //autoLbtime为轮播间隔时间（单位秒）
var touch = true;           //touch=true为开启触摸滑动
var slideBt = true;         //slideBt=true为开启滚动按钮
var slideNub;               //轮播图片数量

//窗口大小改变时改变轮播图宽高
$(window).resize(function(){
$(".slide").height($(".slide").width()*0.56);
});
$(function(){
$(".slide").height($(".slide").width()*0.56);
slideNub = $(".slide .img").size();             //获取轮播图片数量
for(i=0;i<slideNub;i++){
	$(".slide .img:eq("+i+")").attr("data-slide-imgId",i);
}

//根据轮播图片数量设定图片位置对应的class
if(slideNub==1){
	for(i=0;i<slideNub;i++){
		$(".slide .img:eq("+i+")").addClass("img3");
	}
}
if(slideNub==2){
	for(i=0;i<slideNub;i++){
		$(".slide .img:eq("+i+")").addClass("img"+(i+3));
	}
}
if(slideNub==3){
	for(i=0;i<slideNub;i++){
		$(".slide .img:eq("+i+")").addClass("img"+(i+2));
	}
}
if(slideNub>3&&slideNub<6){
	for(i=0;i<slideNub;i++){
		$(".slide .img:eq("+i+")").addClass("img"+(i+1));
	}
}
if(slideNub>=6){
	for(i=0;i<slideNub;i++){
		if(i<5){
		   $(".slide .img:eq("+i+")").addClass("img"+(i+1)); 
		}else{
			$(".slide .img:eq("+i+")").addClass("img5"); 
		}
	}
}

//根据轮播图片数量设定轮播图按钮数量
if(slideBt){
	for(i=1;i<=slideNub;i++){
		$(".slide-bt").append("<span data-slide-bt='"+i+"' onclick='tz("+i+")'></span>");
	}
	$(".slide-bt").width(slideNub*34);
	$(".slide-bt").css("margin-left","-"+slideNub*17+"px");
}

//自动轮播
if(autoLb){
	setInterval(function(){
	right();
}, autoLbtime*1000);
}


if(touch){
	k_touch();
}
slideLi();
imgClickFy();
})

//右滑动
function right(){
var fy = new Array();
for(i=0;i<slideNub;i++){
	fy[i]=$(".slide .img[data-slide-imgId="+i+"]").attr("class");
}
for(i=0;i<slideNub;i++){
	if(i==0){
		$(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[slideNub-1]);
	}else{
	   $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[i-1]); 
	}
}
imgClickFy();
slideLi();
}

//左滑动
function left(){
var fy = new Array();
for(i=0;i<slideNub;i++){
	fy[i]=$(".slide .img[data-slide-imgId="+i+"]").attr("class");
}
for(i=0;i<slideNub;i++){
	if(i==(slideNub-1)){
		$(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[0]);
	}else{
	   $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[i+1]); 
	}
}
imgClickFy();
slideLi();
}

//轮播图片左右图片点击翻页
function imgClickFy(){
$(".slide .img").removeAttr("onclick");
$(".slide .img2").attr("onclick","left()");
$(".slide .img4").attr("onclick","right()");
}

//修改当前最中间图片对应按钮选中状态
function slideLi(){
var slideList = parseInt($(".slide .img3").attr("data-slide-imgId")) + 1;
$(".slide-bt span").removeClass("on");
$(".slide-bt span[data-slide-bt="+slideList+"]").addClass("on");
}

//轮播按钮点击翻页
function tz(id){
var tzcs = id - (parseInt($(".slide .img3").attr("data-slide-imgId")) + 1);
if(tzcs>0){
	for(i=0;i<tzcs;i++){
		setTimeout(function(){
		  right();  
		},1);
	}
}
if(tzcs<0){
	tzcs=(-tzcs);
	for(i=0;i<tzcs;i++){
		setTimeout(function(){
		  left();  
		},1);
	}
}
slideLi();
}
//触摸滑动模块
function k_touch() {
var _start = 0, _end = 0, _content = document.getElementById("slide");
_content.addEventListener("touchstart", touchStart, false);
_content.addEventListener("touchmove", touchMove, false);
_content.addEventListener("touchend", touchEnd, false);
function touchStart(event) {
	var touch = event.targetTouches[0];
	_start = touch.pageX;
}
function touchMove(event) {
	var touch = event.targetTouches[0];
	_end = (_start - touch.pageX);
}

function touchEnd(event) {
	if (_end < -100) {
		left();
		_end=0;
	}else if(_end > 100){
		right();
		_end=0;
	}
}
}

</script>
</body>
</html>
