<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>系统消息</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Doctor/css/style.css">
</head>
<body>
	<include file="DoctorPublic/cheader" />
	<include file="DoctorPublic/chead" />
	<div class="mcontent">
		
		<h3><img src="__PUBLIC__/Doctor/images/xiaoxi.png">消息详情</h3>
		<h4>订单成功消息</h4>
		<div class="xin">
			<span class="span1">{$message.m_message}</span>
			<span class="span2">{$message.m_content}</span>
		</div>
	</div>
	<include file="DoctorPublic/footer" />
</body>
</html>
