<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>系统消息</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Doctor/css/style.css">
<style type="text/css">
body>.mcontent>ul>a>li>div>p>span{
	width: 10px;
	height: 10px;
	background: #f00;
	display: block;
	border-radius: 5px;
	float: left;
	margin: 3px;
}
</style>
</head>
<body>
	<include file="DoctorPublic/cheader" />
	<!-- <include file="DoctorPublic/chead" /> -->
	<div class="mcontent">
		<h3><img src="__PUBLIC__/Doctor/images/xiaoxi.png">系统消息</h3>
		<ul>
			<volist name="mlist" id="mlist">
			<a href="{:U('Doctor/message_content')}?m_id={$mlist.m_id}">
				<li>
					<!-- <p>{$mlist.m_message}</p> -->
					<div>
						<h4><if condition="$mlist.m_state eq 1">新<else /></if>消息<img src="__PUBLIC__/Doctor/images/xiaoxi.png"></h4>
						<p>
							<if condition="$mlist.m_state eq 1"><span></span><else /></if>
							{$mlist.m_content}
						</p>
					</div>
					<span>&gt;</span>
				</li>
			</a>
			</volist>
			<!-- <a href="message_content.html">
				<li>
					<p>2018年07月31日</p>
					<div>
						<h4>新订单<img src="__PUBLIC__/Doctor/images/xiaoxi.png"></h4>
						<p><span></span>您有一条新的预约订单</p>
					</div>
					<span>&gt;</span>
				</li>
			</a> -->
		</ul>
	</div>
	<include file="DoctorPublic/footer" />
</body>
</html>
