<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 防止手机点击放大问题 -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!-- the end -->
<title>上海著名医疗机构排行榜</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Doctor/css/style.css">
<style type="text/css">
body>.rank{
  margin-bottom: 65px;
}
body>.rank>h3{
  color: rgb(250,196,84);
  font-size: 14px;
  line-height: 28px;
  background: rgb(53,53,53);
  padding-left: 7%;
  margin-top: 0;
}
body>.rank>h3>img{
  width: 20px;
  display: block;
  float: left;
  margin-top: 6px;
}
body>.rank>div{
  width: 90%;
  padding: 0px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
  -moz-background-size:100% 100%; 
  background-size: 125%;
}
body>.rank>.rank1>span{
  color: #fff;
  background-color:rgb(67,69,184);/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color:rgba(67,69,184,0.7); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  display: block;
  width: 15%;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
  height: 120px;
}
body>.rank>.rank1>div{
  float: left;
  display: block;
  width: 85%;
  text-align: center;
  background: rgba(24,24,24,0.7);
  height: 160px;
  color: #fff;
}
body>.rank>.rank2>span{
  color: #fff;
  background-color:rgb(196,31,31);/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color:rgba(196,31,31,0.7); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  display: block;
  width: 15%;
  float: right;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
  height: 120px;
}
body>.rank>.rank2>div{
  float: right;
  display: block;
  width: 85%;
  text-align: center;
  background: rgba(24,24,24,0.7);
  height: 160px;
  color: #fff;
}
body>.rank>div>div>p{
  margin: 0;
  line-height: 32px;
  font-size: 13px;
}
</style>
</head>
<body>
	<include file="DoctorPublic/cheader" />
	<div class="rank">
		<h3><img style="margin-top: 3px;" src="__PUBLIC__/Doctor/images/paihang.png">上海著名医疗机构排行榜</h3>
		<div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med1.jpg) center 0 no-repeat; background-size: 124%;">
      <span>病<br>理<br>科</span>
      <div>
        <p style="line-height: 160px;">复旦大学附属肿瘤医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med2.jpg) center 0 no-repeat; background-size: 125%;">
      <span>精<br>神<br>医<br>学</span>
      <div>
        <p style="line-height: 160px;">上海市精神卫生中心</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med3.jpg) center 0 no-repeat; background-size: 125%;">
      <span>呼<br>吸<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属中山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med4.jpg) center 0 no-repeat; background-size: 125%;">
      <span>消<br>化<br>科</span>
      <div>
        <p>上海交通大学医学院附属仁济医院</p>
        <p>第二军医大学长海医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：复旦大学附属中山医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med5.jpg) center 0 no-repeat; background-size: 125%;">
      <span>泌<br>尿<br>外<br>科</span>
      <div>
        <p>第二军医大学长海医院</p>
        <p>上海交通大学医学院附属仁济医院</p>
        <p>提名：复旦大学附属华山医院</p>
        <p>提名：复旦大学附属中山医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med6.jpg) center 0 no-repeat; background-size: 125%;">
      <span>肾<br>脏<br>科</span>
      <div>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>复旦大学附属华山医院</p>
        <p>第二军医大学长征医院</p>
        <p>复旦大学附属中山医院</p>
        <p>提名：上海交通大学医学院附属仁济医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med7.jpg) center 0 no-repeat; background-size: 125%;">
      <span>神<br>经<br>内<br>科</span>
      <div>
        <p style="margin-top: 35px;">复旦大学附属华山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med8.jpg) center 0 no-repeat; background-size: 125%;">
      <span>神<br>经<br>外<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属华山医院</p>
        <p>提名：上海交通大学医学院附属仁济医院</p>
        <p>提名：第二军医大学长征医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med9.jpg) center 0 no-repeat; background-size: 125%;">
      <span>骨<br>科</span>
      <div>
        <p>上海市第六人民医院</p>
        <p>第二军医大学长征医院</p>
        <p>复旦大学附属华山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名:上海交通大学医学院附属第九人民医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med10.jpg) center 0 no-repeat; background-size: 125%;">
      <span>心<br>血<br>管<br>病</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属中山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med11.jpg) center 0 no-repeat; background-size: 125%;">
      <span>心<br>外<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属中山医院</p>
        <p>上海交通大学医学院附属上海儿童医学中心</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med12.jpg) center 0 no-repeat; background-size: 125%;">
      <span>胸<br>外<br>科</span>
      <div>
        <p>上海市胸科医院</p>
        <p>同济大学附属上海市肺科医院</p>
        <p>复旦大学附属中山医院</p>
        <p>提名：复旦大学附属肿瘤医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med13.jpg) center 0 no-repeat; background-size: 125%;">
      <span>耳<br>鼻<br>喉<br>科</span>
      <div>
        <p>复旦大学附属眼耳鼻喉科医院</p>
        <p>上海交通大学医学院附属新华医院</p>
        <p>提名：上海市第六人民医院</p>
        <p>提名：第二军医大学长海医院</p>
        <p>提名:上海交通大学医学院附属第一人民医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med14.jpg) center 0 no-repeat; background-size: 125%;">
      <span>口<br>腔<br>科</span>
      <div>
        <p style="margin-top: 35px;">上海交通大学医学院附属第九人民医院</p>
        <p>提名：同济大学附属口腔医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med15.jpg) center 0 no-repeat; background-size: 125%;">
      <span>眼<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属眼耳鼻喉科医院</p>
        <p>提名:上海交通大学医学院附属第一人民医院</p>
        <p>提名:上海交通大学医学院附属第九人民医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med16.jpg) center 0 no-repeat; background-size: 125%;">
      <span>普<br>通<br>外<br>科</span>
      <div>
        <p>复旦大学附属中山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：东方肝胆外科医院</p>
        <p>提名：复旦大学附属华山医院</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med17.jpg) center 0 no-repeat; background-size: 125%;">
      <span>整<br>体<br>外<br>科</span>
      <div>
        <p>上海交通大学医学院附属第九人民医院</p>
        <p>第二军医大学长海医院</p>
        <p>第二军医大学长征医院</p>
        <p>提名：复旦大学附属中山医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med18.jpg) center 0 no-repeat; background-size: 125%;">
      <span>传<br>染<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属华山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：上海市（复旦大学附属）公共卫生临床中心</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med19.jpg) center 0 no-repeat; background-size: 125%;">
      <span>放<br>射<br>科</span>
      <div>
        <p>复旦大学附属华山医院</p>
        <p>复旦大学附属中山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：第二军医大学长征医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med20.jpg) center 0 no-repeat; background-size: 125%;">
      <span>风<br>湿<br>科</span>
      <div>
        <p>上海交通大学医学院附属仁济医院</p>
        <p>第二军医大学长征医院</p>
        <p>提名：复旦大学附属华山医院</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med21.jpg) center 0 no-repeat; background-size: 125%;">
      <span>妇<br>产<br>科</span>
      <div>
        <p style="margin-top: 35px;">复旦大学附属妇产科医院</p>
        <p>提名：上海交通大学医学院附属仁济医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med22.jpg) center 0 no-repeat; background-size: 125%;">
      <span>麻<br>醉<br>科</span>
      <div>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>复旦大学附属中山医院</p>
        <p>提名：第二军医大学长海医院</p>
        <p>提名：上海交通大学医学院附属仁济医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med23.jpg) center 0 no-repeat; background-size: 125%;">
      <span>内<br>分<br>泌<br>科</span>
      <div>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>上海市第六人民医院</p>
        <p>提名：复旦大学附属华山医院</p>
        <p>提名：复旦大学附属中山医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med24.jpg) center 0 no-repeat; background-size: 125%;">
      <span>皮<br>肤<br>科</span>
      <div>
        <p style="margin-top: 25px;">复旦大学附属华山医院</p>
        <p>上海交通大学医学院附属瑞金医院</p>
        <p>提名：上海交通大学医学院附属新华医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med25.jpg) center 0 no-repeat; background-size: 125%;">
      <span>血<br>液<br>科</span>
      <div>
        <p style="margin-top: 35px;">上海交通大学医学院附属瑞金医院</p>
        <p>提名：第二军医大学长海医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med26.jpg) center 0 no-repeat; background-size: 125%;">
      <span>老<br>年<br>医<br>学</span>
      <div>
        <p style="margin-top: 35px;">复旦大学附属华东医院</p>
        <p>提名：上海交通大学医学院附属瑞金医院</p>
      </div>
    </div>
    <div class="rank1" style="background:url(__PUBLIC__/Doctor/images/paihang/med27.jpg) center 0 no-repeat; background-size: 125%;">
      <span>小<br>儿<br>内<br>科</span>
      <div>
        <p>复旦大学附属儿科医院</p>
        <p>上海交通大学医学院附属上海儿童医学中心</p>
        <p>上海交通大学医学院附属新华医院</p>
        <p>提名：上海市儿童医院</p>
      </div>
    </div>
    <div class="rank2" style="background:url(__PUBLIC__/Doctor/images/paihang/med28.jpg) center 0 no-repeat; background-size: 125%;">
      <span>小<br>儿<br>外<br>科</span>
      <div>
        <p>复旦大学附属儿科医院</p>
        <p>上海交通大学医学院附属新华医院</p>
        <p>上海交通大学医学院附属上海儿童医学中心</p>
        <p>提名：上海市儿童医院</p>
      </div>
    </div>
    <p style="font-size: 12px;color: #fff;width: 90%;margin: auto;">来源：转载《上海热线》公众号</p>
	</div>
	<include file="DoctorPublic/footer" />

</body>
</html>
