
<link rel="stylesheet" type="text/css" href="http://www.qudaoplus.cn/statics/css/allfooter.css">
<footer id="footer">
  <ul>
      <a href="http://www.qudaoplus.cn/merber_all_show/index.php/home/Personnal/central"><li class="core li"><em></em><span>成员中心</span></li></a>
      <a href="/Home/Home/home"><li class="vip on li"><em></em><span>成员专享</span></li></a>
      <!-- <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=32"><li class="activity"><em></em><span>精彩活动</span></li></a> -->
      <a href="http://www.qudaoplus.cn/index.php?m=content&c=index&a=lists&catid=25"><li class="steward li"><em></em><span>联系管家</span></li></a>
  </ul>
</footer>
