<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 防止手机点击放大问题 -->
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<!-- the end -->
	<title>订单详情</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Doctor/css/public.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Doctor/css/order.css">

</head>
<body>
<include file="DoctorPublic/center_header" />
<div class="order_content">
	<h3>订单详情</h3>
	<div>
		<p>订单号：{$content.order_number}</p>
		<p>真实姓名：{$content.order_user}</p>
	</div>
	<div>
		<p>联系电话：{$content.order_uphone}</p>
		<p>预约电话：{$content.order_uphone}</p>
	</div>
	<div>
		<p>选择医院：{$content.order_dohospital}</p>
		<p>选择科室：{$content.order_dodepar}</p>
		<p>选择服务：{$content.ser_service}</p>
	</div>
	<div>
		<p>预约日期：{$content.order_ustart}</p>
		<p>截止日期：{$content.order_uend}</p>
	</div>
	<div>
		<p>提交时间：{$content.order_time}</p>
	</div>
	<div>
		<p>病史描述</p>
		<p class="text">{$content.order_describe}</p>
	</div>
	<p>订单总价：{$content.order_price}分</p>
	<form action="{:U('Wxpay/inde')}" method="post">
	    <input type="text" name="order_numbera" value="123123123">
	    <input type="text" name="order_id" value="14">
	    <input type="hidden" name="openid" value="o1xY9wnWt-y3tnGWFy8O8EueypP0">
	    <input type="submit" name="" value="提交">
    </form>
</div>
<include file="DoctorPublic/footer" />	
</body>
</html>