<!DOCTYPE html>
<html>
<head lang="en">
	<include file="Components/header" />
</head>
<body>


<div class="jyzttops container-fluid">
	<div class="container">
		<dbo><a href="/Mobile/Member/index"><img src="/Public/Mobile/images/sss.png"></a></dbo>
		<span class="active"><a href="/Mobile/Order/order_list">全部订单</a></span>
		<span><a href="/Mobile/Order/order_obligation">待付款</a></span>
		<span ><a href="/Mobile/Order/order_paid">待收货</a></span>
		<!--<span><a href="/Mobile/Order/order_list/?id=9">退款订单</a></span>-->
		<span><a href="/Mobile/Order/order_received">待评价</a></span>
		<span><a href="/Mobile/Order/order_closed">已关闭</a></span>
	</div>
</div>

<foreach name="list" item="vo">
	<div class="rysplists container-fluid order-item" data-order-sn="{$vo.order_sn}">
		<switch name="vo.order_status">
			<case value="1">
				<div class="ry_aa">
					<div class="container">
						<div class="ovh fl">
							<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">
								<img src="{$vo.main_img}" style="width: 120px;height: 80px">
							</a>
						</div>
						<div class="rynrr fl">
							<div class="rynrr_a mt0">
								<span>{$vo.goods_name}</span>
								<div class="m_zfzt">
									<a href="/Mobile/Order/order_confirm?goods_id={$vo.goods_id}&num={$vo.goods_num}">去支付</a>
									<a style="margin-top: 4px" href="javascript:;" data-order-sn="{$vo.order_sn}" class="order_close">取消</a>
								</div>
							</div>
							<div class="rynrr_b">
								<div class="ys_nr_b  mt10">
									<span><img src="/Public/Mobile/images/rs1.png"></span>
									<span class="ice_b">{$vo.goods_price}.00</span>
								</div>
								<p>
									{$vo.goods_remark}
								</p>
							</div>
						</div>
					</div>
				</div>
			</case>
			<case value="2">
				<div class="ry_aa">
					<div class="container">
						<div class="ovh fl">
							<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">
								<img src="{$vo.main_img}" style="width: 120px;height: 80px">
							</a>
						</div>
						<div class="rynrr fl">
							<div class="rynrr_a mt0">
								<span>{$vo.goods_name}</span>
								<div class="m_zfzt">
									<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">已支付</a>
								</div>
							</div>
							<div class="rynrr_b">
								<div class="ys_nr_b  mt10">
									<span><img src="/Public/Mobile/images/rs1.png"></span>
									<span class="ice_b">{$vo.goods_price}.00</span>
								</div>
								<p>
									{$vo.goods_remark}
								</p>
							</div>
						</div>
					</div>
				</div>
			</case>
			<case value="3">
				<div class="ry_aa">
					<div class="container">
						<div class="ovh fl">
							<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">
								<img src="{$vo.main_img}" style="width: 120px;height: 80px">
							</a>
						</div>
						<div class="rynrr fl">
							<div class="rynrr_a">
								<span>{$vo.goods_name}</span>
								<a href="#" class="nmir_j">积分消费</a>
							</div>
							<div class="rynrr_b">
								<p>
									{$vo.goods_remark}
								</p>
							</div>
							<div class="rynrr_c">
								<!--<a href="#">确认收货</a>
								<a class="wlxqbtn" href="javascript:void(0);">物流详情<img src="/Public/Mobile/images/sss.png"></a>-->
							</div>
						</div>
					</div>
				</div>
				<!--物流 信息-->
				<!--<div class="wlzts">
					<div class="container">
						<div  class="wlzt_a">
							<div class="ovh fl">
								<img src="/Public/Mobile/images/4ds3.png">
							</div>
							<div  class="gftel fl">
								<h3>顺丰快递</h3>
								<p>官方电话  95338</p>
							</div>
						</div>

						<div  class="wlzt_b">
							<p>顺丰快递&nbsp;&nbsp;&nbsp;<span>246555558455</span><img src="/Public/Mobile/images/cy.png"></p>
						</div>
						<div class="wliu">
							<div class="wliulist">
								<div class="wliu_a fl">
								</div>
								<div class="wliu_b fl">
									<img src="/Public/Mobile/images/shou.png">
									&lt;!&ndash; <img src="/Public/Mobile/images/hc.png">
                                    <img src="/Public/Mobile/images/zc.png">
                                    <img src="/Public/Mobile/images/fh.png"> &ndash;&gt;
								</div>
								<div class="wliu_c fl">
									<p>[收货地址] 上海上海市静安区延安西路300号
										10层前台</p>
								</div>
							</div>
							<div class="wliulist active">
								<div class="wliu_a fl">
									<p>下午</p>
									<p>15:12</p>
								</div>
								<div class="wliu_b fl">
									<img src="/Public/Mobile/images/hc.png">
								</div>
								<div class="wliu_c fl">
									<h3>运输中</h3>
									<p>快件在 [芜湖家电项目营业部分] 已装车，准备
										发往 [芜湖鸿鹄江集散中心]</p>
								</div>
							</div>
							<div class="wliulist">
								<div class="wliu_a fl">
									<p>下午</p>
									<p>14:55</p>
								</div>
								<div class="wliu_b fl">
									<img src="/Public/Mobile/images/zc.png">
								</div>
								<div class="wliu_c fl">
									<h3>已揽件</h3>
									<p>顺丰快运 已收取快件</p>
								</div>
							</div>
							<div class="wliulist">
								<div class="wliu_a fl">
									<p>下午</p>
									<p>14:02</p>
								</div>
								<div class="wliu_b fl">
									<img src="/Public/Mobile/images/fh.png">
								</div>
								<div class="wliu_c fl">
									<h3>已发货</h3>
									<p>包裹正在等待揽收</p>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</case>
			<case value="4">
				<div class="ry_aa">
					<div class="container">
						<div class="ovh fl">
							<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">
								<img src="{$vo.main_img}" style="width: 120px;height: 80px">
							</a>
						</div>
						<div class="rynrr fl">
							<div class="rynrr_a">
								<span>{$vo.goods_name}</span>
								<a href="/Mobile/Order/comments?gc_id={$vo.goods_common_id}&order_sn={$vo.order_sn}" class="nmir_b">去评价</a>
							</div>
							<div class="rynrr_b">
								<div class="ys_nr_b  mt10">
									<span><img src="/Public/Mobile/images/rs1.png"></span>
									<span class="ice_b">{$vo.goods_price}.00</span>
								</div>
								<p>
									{$vo.goods_remark}
								</p>
							</div>
						</div>
					</div>
				</div>
			</case>
			<case value="9">
				<div class="ry_aa">
					<div class="container">
						<div class="ovh fl">
							<a href="/Mobile/Goods/detail?gc_id={$vo.goods_common_id}">
								<img src="{$vo.main_img}" style="width: 120px;height: 80px">
							</a>
						</div>
						<div class="rynrr fl">
							<div class="rynrr_a">
								<span>{$vo.goods_name}</span>
								<switch name="vo.order_status">
									<case value="6"><a href="#" class="nmir_a" style="background-color: red;">交易完成</a></case>
									<case value="9"><a href="#" class="nmir_a">交易关闭</a></case>
								</switch>
							</div>
							<div class="rynrr_b">
								<div class="ys_nr_b  mt10">
									<span><img src="/Public/Mobile/images/rs1.png"></span>
									<span class="ice_b">{$vo.goods_price}.00</span>
								</div>
								<p>
									{$vo.goods_remark}
								</p>
							</div>
						</div>
					</div>
				</div>
			</case>
		</switch>
	</div>
</foreach>


<include file="Components/footer" />
</body>
</html>

<script>
	$(function(){
		$(document).on("click",".order-item",function(){
			var order_sn = $(this).attr("data-order-sn");
			if(order_sn){
				window.location.href = "/Mobile/Order/order_detail?order_sn="+order_sn;
			}else{
				return false;
			}
		});

		$('.order_close').click(function () {
			var order_sn = $(this).attr('data-order-sn');
			console.log(order_sn);
			$.ajax({
				type : "get",
				url  : '/Mobile/Order/cancel_order',
				data : {
					id : order_sn,
				},
				dataType : 'json',
				success : function (res) {
					if (res.code == "200")
					{

					}
				}
			})
		})
	})
</script>


