<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商业房源-我要找店预约</title>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="http://www.qudaoclub.com/images/favicon.ico" type="image/x-icon"/>
    <script src="__JS__jquery.min.js"></script>
    <script src="__JS__mobiscroll.jquery.min.js"></script>

    <link href="__css__mobiscroll.jquery.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__css__reservers.css">
    <script type="text/javascript">
      function pushHistory() {
        var state = {
          title: "title",
          url: "#"
        };
        window.history.pushState(state, "title", "#");
      }
      pushHistory();

      setTimeout(function(){
            window.addEventListener("popstate", function(e){
                setTimeout(function(){
                    location.href="http://www.qudaoplus.cn/merber_all_show/index.php/home/club/merberPorperty"
                },1000)
            }, false)
        },1000);

    </script>
</head>

<body class="information">

    <img class="information-top" src="__img__reservers/property.jpg" alt="">

    <section class="information-title">
        <b>预约项目：商业房源-我要找店</b>
    </section>

    <section class="information-content">
        <h2><b></b>预约信息</h2>
        <ul>
            <li>
                <span><span style="color:red;">*</span> 姓 名：</span>
                <input type="text" placeholder="请输入您的姓名" value="{$username}">
            </li>
            <li>
                <span><span style="color:red;">*</span> 手 机：</span>
                <input type="text" placeholder="请输入您的手机号码" value="{$phone}">
            </li>
            <li>
                <span><span style="color:red;">*</span> 需求面积：</span>
                <input type="text" placeholder="请输入需求面积">
            </li>
            <li>
                <span><span style="color:red;">*</span> 用 途：</span>
                <input type="text" placeholder="请输入用途">
            </li>
            <li>
                <span><span style="color:red;">*</span> 预 算：</span>
                <input type="text" placeholder="请输入预算">
            </li>
            <li>
                <span>备 注：</span>
                <input type="text" placeholder="请填写备注">
            </li>
        </ul>
    </section>

    <!-- <section class="information-bottom">
        <h2><b></b>在线支付</h2>
        <h2><b></b>权益</h2>
        <ul>
            <li>
                <span>剩余权益</span>
                <span class="right">×1</span>
            </li>
            <li>
                <span>积分（<span class="integral">2</span>）</span>
                <div class="right">
                    <i></i>
                </div>
            </li>
            <li>
                <h2><b></b>微信支付<span class="money">500</span>元<span class="right">尊享价</span></h2>
            </li>
        </ul>
    </section> -->

    <!-- <button>预约付款</button> -->
    <button>确认预约</button>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function(){

        var $top = $('.information-top'),
            $content = $('.information-content'),
            $bottom = $('.information-bottom'),
            $title = $top.find('b'),
            $conList = $content.find('li'),
            $name = $conList.eq(0).find('input'),
            $mobile = $conList.eq(1).find('input'),
            $unit = $conList.eq(2).find('input'),
            $purpose = $conList.eq(3).find('input'),
            $budget = $conList.eq(4).find('input'),
            $other = $conList.eq(5).find('input'),
            $botList = $bottom.find('li'),
            $surplus = $botList.eq(0).find('.right'),
            $integral = $botList.eq(1).find('.integral'),
            $integralBtn = $botList.eq(1).find('.right'),
            $money = $botList.eq(2).find('.money'),
            $btn = $('button');

        var cardid = '<?php echo $cardid; ?>';
        var integral = $integral.text(),
            money  = $money.text();

        var zero = integral > money;

        $integralBtn.click(function(){
            if(!$(this).hasClass('open')){
                $(this).addClass('open');
                if(zero){
                    $integral.text(integral - money);
                    $money.text(0);
                }
                else{
                    $integral.text(0);
                    $money.text(money - integral);
                }
            }
            else{
                $(this).removeClass('open');
                $integral.text(integral);
                $money.text(money);
            }
        });


        $btn.click(function(){

            var open = $integralBtn.hasClass('open');

           var name = $name.val(),
               mobile = $mobile.val(),
               unit = $unit.val(),
               purpose = $purpose.val(),
               budget = $budget.val(),
               other = $other.val();
            if (!name) {
              alert('请填写姓名');
              return false;
            }
            if (!mobile) {
              alert('请填写手机号');
              return false;
            }
            if (!unit) {
              alert('请填写需求面积');
              return false;
            }
            if (!purpose) {
              alert('请填写用途');
              return false;
            }
            if (!budget) {
              alert('请填写预算');
              return false;
            }

           $.ajax({
               type: "POST",
               url: "{:U('Reserve/seekshop')}",      //会员注册接口
               data:{
                 ritem: '商业房源-我要找店',
                 cardid: cardid,
                 rname: name,
                 rmobile: mobile,
                 unit: unit,
                 purpose: purpose,
                 budget : budget,
                 remark: other
               },
               error: function(request) {
                   errorMsgg('连接服务器超时，请重新注册', $prompt, $verification);
               },
               success: function(data) {
                 data = eval( '(' +data+ ')' );
                 if (data.code=='1') {
                   alert(data.message);
                   window.location.href =data.url;
                 }else if(data.code=='0') {
                   alert(data.message);
                 }
               }
           });

        });

    })

</script>
