<html class="x-admin-sm">
<head>
    <include file="Components/header" />
</head>
<style>
    .layui-row-search input{
        margin-bottom: 30px;
        width: 256px;
        height: 40px;
    }
    .layui-input-inline{
        width: 200px;
        margin-right: 30px;
    }
</style>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="x-body">
    <div class="layui-collapse" lay-filter="test">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">展开搜索框</h2>
            <div class="layui-colla-content">
                <form method="post" action="/Admin/Order/search?source=商城" class="layui-form layui-col-md12 x-so" >
                    <div class="layui-row">
                            <input type="text" name="mobile" placeholder="请输入收货人手机号" autocomplete="off" class="layui-input">

                            <input type="text" name="order_sn" placeholder="请输入收货人订单号" autocomplete="off" class="layui-input">

                        <!--<div class="layui-input-inline">
                            <select id="pay" name="pay" autocomplete="off" class="layui-input">
                                <option value="">请选择支付方式</option>
                                <option value="微信支付">微信支付</option>
                                <option value="支付宝支付">支付宝支付</option>
                                <option value="POS机支付">POS机支付</option>
                                <option value="银行卡转账">银行卡转账</option>
                            </select>
                        </div>-->
                        <div class="layui-input-inline">
                            <select id="audit" name="audit" autocomplete="off" class="layui-input">
                                <!--<option value=" ">请选择订单状态</option>-->
                                <option value="交易完成">交易完成</option>
                                <option value="驳回审核">驳回审核</option>
                            </select>
                        </div>
                        <input  type="submit" class="layui-btn layui-btn-lg " lay-filter="add" lay-submit="" value="查找">
                    </div>
                </form>
            </div>
        </div>

    <!--<xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','{:U('Index/memberAdd')}',700,600)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span style="color: red">{$count}</span> 条</span>
    </xblock>-->
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th></th>
            <th>订单编号</th>
            <th>付款人</th>
            <th>商品名称</th>
            <th>订单数量</th>
            <th>订单金额</th>
            <th>支付金额</th>
            <th>订单状态</th>
            <!--<th>下单返利积分</th>-->
            <th>支付方式</th>
            <th>财务审核</th>
            <th>订单备注</th>
            <th>下单时间</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="orderList" key="k" id="vo">
            <tr>
                <td>
                    <input type="checkbox" name="" lay-skin="primary"></td>
                <td id="order_sn">{$vo.order_sn}</td>
                <td id="member_name">{$vo.member_name}:{$vo.member_mobile}</td>
                <td id="goods_name">{$vo.goods_name}</td>
                <td id="goods_num">{$vo.goods_num}</td>
                <td id="goods_price">{$vo.goods_price}</td>
                <td id="member_payment">{$vo.member_payment}</td>
                <if condition="$vo.order_status eq 2"><td style="background-color: #FFA54F">待发货</td>
                    <elseif condition="$vo.order_status eq 3"/><td style="background-color: #CCCCCC">待发货</td>
                    <elseif condition="$vo.order_status eq 4"/><td style="background-color: #7FFFD4">已收货</td>
                    <elseif condition="$vo.order_status eq 9"/><td>已取消</td>
                    <elseif condition="$vo.order_status eq 1"/><td>待支付</td>
                    <else /><td></td>
                </if>
                <!--<td style="color: #1aad19">
                    <if condition="$vo.pocket_type eq 1">
                        尊享积分
                        <elseif condition="$vo.pocket_type eq 201" />
                        消费积分
                        <elseif condition="$vo.pocket_type eq 202" />
                        消费积分
                        <elseif condition="$vo.pocket_type eq 3" />
                        优惠积分
                        <elseif condition="$vo.pocket_type eq 4" />
                        金币积分
                        <else />
                        无
                    </if>
                    <br/>
                    <if condition="$vo.pocket_value neq 0 ">
                        -{$vo.pocket_value}
                        <else />

                    </if>
                </td>
                <if condition="$vo.pocket_frm == 'bonus'">
                    <td style="color: orange;">+{$vo.pocket_value}</td>
                    <else />
                    <td></td>
                </if>-->

                <td style="color: #1aad19">微信支付</td>
                <if condition="$vo.order_status eq 13"><td style="background-color: 	#C3C3C3">驳回审核</td>
                    <elseif condition="$vo.order_status eq 4"/><td style="background-color: rgba(4,174,115,0.42)">交易完成</td>
                    <elseif condition="$vo.order_status eq 6"/><td style="background-color: rgba(4,174,115,0.42)">交易完成</td>
                    <elseif condition="$vo.order_status eq 9"/><td>已取消</td>
                    <elseif condition="$vo.order_status eq 12"/><td style="background-color: rgba(174,24,34,0.42)">已审核</td>
                    <else /><td>审核中</td>
                </if>
                <td title="{$vo.member_remark}">{$vo.member_remark|subtext=10}</td>
                <td id="addtime">{$vo.addtime|date = "Y-m-d H:i:s",###}</td>
                <td class="td-manage" style="font-size: 14px;">
                    <!--<a title="审核" href="/Admin/Order/detail/?order_id={$vo.order_id}">-->
                    <a title="查看" href="/Admin/Operation/shopDetail?order_sn={$vo.order_sn}"> 查看 </a>
                          <span>&nbsp;&nbsp;&nbsp;  |  &nbsp;&nbsp;&nbsp;</span>
                    <a title="发货" href="javascript:;"> 发货 </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">
        <div>
            {$page}
        </div>
    </div>

</div>
<script>
    $("#btn").click(function () {
        //var pay         = $("#pay option:checked").val();		//支付方式
        var audit       = $("#audit option:checked").val();		//订单状态
        var mobile      = $('input[name="mobile"]').val();		//服务经理
        var order_sn    = $('input[name="order_sn"]').val();	//服务经理
        console.log(order_sn);
        $.ajax({
            url : "/Admin/Order/search?source=商城",
            type: "post",
            data:{
                //pay         : pay,
                audit       : audit,
                mobile      : mobile,
                order_sn    : order_sn,
            },
            dataType: "json",
            success:function (data) {
                if (data.code == "200"){

                }else{
                    alert(res.message);
                }
            }
        })
    })
</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>