<!DOCTYPE html>
<html>
<head lang="en">
    <include file="Components/header" />
</head>
<body>

<include file="Components/padding" title="联系我们" redirect_url="javascript:history.go(-1);" />

<div  class="contact container">
    <h2>联系方式</h2>
    <p>电话/传真：021-53067999</p>
    <h2>商务联系</h2>
    <p>联系人：张三</p>
    <p>E-mail：zhangsan@163.com</p>
    <h2>加入 我们</h2>
    <p>E-mail：xiaozhao@163.com</p>
    <p>地址：上海市静安区延安西路300号静安大厦10层</p>
    <!--<img src="/Public/Mobile/images/1047.png">-->

    <a href='http://api.map.baidu.com/geocoder?address=上海市静安区延安西路300号静安大厦&output=html' target='_blank'>
        <img src="/Public/Mobile/images/1047.png">
    </a>
</div>



<include file="Components/footer" />
</body>
</html>