<section class="qudao">
	<div class="w ">
	<div class="hezuo">
	<div class="title"><span class="title_toufang1">发行渠道</span> <span class="title_toufang2">行业协会&amp;社会团体</span></div>
	<div class="hezuo_underline">&nbsp;</div>
	<ul class="clearfix hezuo1 w">
    <li>上海空港物流协会</li>
    <li>上海跨境电子商务行业协会</li>
    <li>上海医药商业行业协会</li>
    <li>上海市代理记账行业协会</li>
    <li>上海金融信息行业协会</li>
    <li>上海市担保行业协会</li>
    <li>上海市质量追溯与防伪行业协会</li>
    <li>上海重型装备制造行业协会</li>
    <li>上海市创意制作行业协会</li>
    <li>上海市标识行业协会</li>
    <li>上海市物业管理行业协会</li>
    <li>上海市汽车配件用品行业协会</li>
    <li>上海市书刊发行行业协会</li>
    <li>上海市室内环境净化行业协会</li>
    <li>上海空调清洗行业协会</li>
    <li>上海婚庆行业协会</li>
    <li>上海有色金属行业协会</li>
    <li>上海市基金同业公会</li>
    <li>上海浦东现代物流行业协会</li>
    <li>上海市乐器行业协会</li>
	</ul>
	<ul class="hezuo2 clearfix">
    <li>上海市心理卫生服务行业协会</li>
    <li>上海市家庭服务业行业协会</li>
    <li>上海钢铁服务业行业协会</li>
    <li>上海沐浴行业协会</li>
    <li>上海洗染业行业协会</li>
    <li>上海市钟表行业协会</li>
    <li>上海市眼镜行业协会</li>
    <li>上海宝玉石行业协会</li>
    <li>上海服装行业协会</li>
    <li>上海黄金饰品行业协会</li>
    <li>上海工艺美术行业协会</li>
    <li>上海中药行业协会</li>
    <li>上海市文化娱乐行业协会</li>
    <li>上海市机动车驾驶员培训行业协会</li>
    <li>上海市房地产行业协会</li>
    <li>上海市房地产经纪行业协会</li>
    <li>上海市旅游行业协会</li>
    <li>上海市装饰装修行业协会</li>
    <li>上海交电家电商业行业协会</li>
    <li>上海市汽车销售行业协会</li>
    <li>上海市电力行业协会</li>
    <li>上海纺织品商业行业协会</li>
    <li>上海钻石行业协会</li>
    <li>上海市会展行业协会</li>
    <li>上海摄影业行业协会</li>
    <li>上海市餐饮烹饪行业协会</li>
    <li>上海市停车服务业行业协会</li>
    <li>上海邮轮游船游艇业行业协会</li>
    <li>上海数字印刷行业协会</li>
    <li>上海市印刷行业协会</li>
    <li>上海石材行业协会</li>
    <li>上海电子商会（上海电子制造行业协会）</li>
    <li>上海市安装行业协会</li>
    <li>上海市生物医药行业协会</li>
    <li>上海市通信行业协会</li>
    <li>上海市信息家电行业协会</li>
    <li>上海市信息服务业行业协会</li>
    <li>上海市信息安全行业协会</li>
    <li>上海市软件行业协会</li>
    <li>上海市多媒体行业协会</li>
    <li>上海市电子商务行业协会</li>
    <li>上海市计算机行业协会</li>
    <li>上海市公共交通行业协会</li>
    <li>上海市道路危险货物运输行业协会</li>
    <li>上海市社会福利行业协会</li>
    <li>上海市国际服务贸易行业协会</li>
    <li>上海市市政公路行业协会</li>
    <li>上海人才服务行业协会</li>
    <li>上海市工程咨询行业协会</li>
    <li>上海市建设工程咨询行业协会</li>
    <li>上海市建设工程检测行业协会</li>
    <li>上海市拍卖行业协会</li>
    <li>上海港口行业协会</li>
    <li>上海市咨询业行业协会</li>
    <li>上海市道路运输行业协会</li>
    <li>上海市国际货运代理行业协会</li>
    <li>上海市交通运输行业协会</li>
    <li>上海市快递行业协会</li>
    <li>上海市仓储与配送行业协会</li>
    <li>上海典当行业协会</li>
    <li>上海市汽车维修行业协会</li>
    <li>上海市租赁行业协会</li>
    <li>上海市创业投资行业协会</li>
    <li>上海市信用服务行业协会</li>
    <li>上海市期货同业公会</li>
    <li>上海市银行同业公会</li>
    <li>上海市保险同业公会</li>
    <li>上海市证券同业公会</li>
    <li>上海市职工文化体育协会</li>
    <li>兰溪市上海商会</li>
    <li>上海市朗诵协会</li>
    <li>上海海盾安全技术培训中心</li>
    <li>上海开放大学</li>
    <li>上海市现代食用农产品交流促进中心</li>
    <li>上海冷藏库协会</li>
    <li>上海市网络文化协会</li>
    <li>上海市建设协会</li>
    <li>中国（上海）自由贸易试验区知识产权协会</li>
    <li>上海浦江健康产业信息化促进中心</li>
    <li>上海颜德馨中医药基金会</li>
    <li>上海邻港养护院</li>
    <li>上海市浦东新区归国留学人员联合会</li>
    <li>上海海派旗袍文化促进会</li>
    <li>上海市食品协会</li>
    <li>上海嘉兴商会</li>
    <li>上海市信息网络安全管理协会</li>
    <li>上海潮汕联谊会</li>
    <li>上海市为新跨界创新促进中心</li>
    <li>上海市现代文化旅游促进中心</li>
    <li>上海复大品牌研究所</li>
    <li>上海市信息化企业家协会</li>
    <li>上海市婚姻介绍机构管理协会</li>
    <li>上海市健康科技协会</li>
    <li>上海文化艺术品鉴促进会</li>
    <li>上海现代新兴产业发展研究所</li>
    <li>上海企业竞争力研究中心</li>
    <li>上海市浦东新区质量技术协会</li>
    <li>上海口岸联合会</li>
    <li>上海华侨口译工作者协会</li>
    <li>上海市国际股权投资基金协会</li>
    <li>上海船东协会</li>
    <li>上海市浦东新区现代服务业促进会</li>
    <li>上海市期刊协会</li>
    <li>上海市礼仪协会</li>
    <li>上海市服饰学会</li>
    <li>上海市华侨摄影协会</li>
    <li>上海物流企业家协会</li>
    <li>上海市执业药师协会</li>
    <li>上海股权投资协会</li>
    <li>上海小额贷款公司协会</li>
    <li>上海市科学技术研究所协会</li>
    <li>上海工业设计协会</li>
    <li>上海市公证协会</li>
    <li>上海市数字内容产业促进中心</li>
    <li>上海东方文化艺术基金会</li>
    <li>上海市信息化青年人才协会</li>
    <li>上海市集邮协会</li>
    <li>上海粮油食品工程技术协会</li>
    <li>上海市网球协会</li>
    <li>上海进出口商会</li>
    <li>上海国际经济技术合作协会</li>
    <li>上海市创意产业协会</li>
    <li>上海教育国际交流协会</li>
    <li>上海市广告协会</li>
    <li>上海市健康管理研究会</li>
    <li>上海科技成果转化促进会</li>
    <li>上海市汽车行业协会汽车制造企业服务业分会</li>
    <li>上海市信息协会</li>
    <li>上海信息化发展研究协会</li>
    <li>上海市信息法律协会</li>
    <li>上海市信息化培训协会</li>
    <li>上海市互联网协会</li>
    <li>上海市机动车船污染控制协会</li>
    <li>上海市报关协会</li>
    <li>上海市侨商会</li>
    <li>上海市物流学会</li>
    <li>上海市合同信用促进会</li>
    <li>上海市物流协会</li>
    <li>上海市注册会计师协会</li>
    <li>上海市注册税务师协会</li>
    <li>上海市律师协会</li>
    <li>上海市资产评估协会</li>
    <li>浦东新区金融促进会</li>
    <li>上海市公共关系协会</li>
	</ul>
	<div class="faxing_bg w">&nbsp;</div>
	</div>
	<div class="hezuo">
	<div class="title"><span class="title_toufang1">发行渠道</span> <span class="title_toufang2">渠道PLUS资源共享平台</span></div>
	<div class="hezuo_underline">&nbsp;</div>
	<div class="faxing_dao w"><a href="http://www.qudaoclub.com" target="_blank">&nbsp;</a></div>
	<div class="faxing_bg w">&nbsp;</div>
	</div>
	<div class="hezuo">
	<div class="title"><span class="title_toufang1">发行渠道</span> <span class="title_toufang2">知名企业</span></div>
	<div class="hezuo_underline">&nbsp;</div>
	<ul class="clearfix hezuo1 w">
    <li>中国质量认证中心上海分中心</li>
    <li>上海机场（集团）有限公司</li>
    <li>上海财才网人才服务有限公司</li>
    <li>上海复星高科技（集团）有限公司</li>
    <li>上海滨江星广告传播有限公司</li>
    <li>上海爱姆意机电设备连锁有限公司</li>
    <li>中安安中科技有限公司</li>
    <li>上海联品股权投资基金管理有限公司</li>
    <li>上海吉程人力资源有限公司</li>
    <li>上海商业储运有限公司</li>
    <li>上海金润二当家供应链管理有限公司</li>
    <li>上海亨利达国际物流有限公司</li>
    <li>国药集团医药物流有限公司</li>
    <li>上海医药物流中心有限公司</li>
    <li>瑞格丝（上海）投资有限公司</li>
    <li>金鹰国际货运代理有限公司</li>
    <li>上海欧坚网络发展股份有限公司</li>
    <li>安吉汽车物流股份有限公司</li>
    <li>上海德马物流技术有限公司</li>
    <li>上海嘉星物流有限公司</li>
	</ul>
	<ul class="hezuo2 clearfix">
    <li>上海新通联包装股份有限公司</li>
    <li>上海大微物流科技有限公司</li>
    <li>新杰物流集团股份有限公司</li>
    <li>上海郑明现代物流有限公司</li>
    <li>上海天地汇供应链管理有限公司</li>
    <li>远成集团有限公司</li>
    <li>上海亚东国际货运有限公司</li>
    <li>上海点觉信息技术有限公司</li>
    <li>联陆智能交通科技（上海）有限公司</li>
    <li>上海东欣安防工程有限公司</li>
    <li>上海软富云网络科技有限公司</li>
    <li>上海荣幸信息科技有限公司</li>
    <li>上海富汇融资租赁股份有限公司</li>
    <li>上海金山石化物流股份有限公司</li>
    <li>东方国际物流（集团）有限公司</li>
    <li>上海德邦物流有限公司</li>
    <li>上海精裕捷星物流有限公司</li>
    <li>上海景鸿国际物流股份有限公司</li>
    <li>上海万家物流有限公司</li>
    <li>路凯包装设备租赁（上海）有限公司</li>
    <li>上海惠尔物流有限公司</li>
    <li>上海新跃物流企业管理有限公司</li>
    <li>上海象屿速传供应链有限公司</li>
    <li>上海东方久信集团有限公司</li>
    <li>上海掌小门教育科技有限公司</li>
    <li>上海阖胜广告有限公司</li>
    <li>如东信息技术服务（上海）有限公司</li>
    <li>上海尚融供应链管理有限公司</li>
    <li>中国工商银行股份有限公司上海市宝山支行</li>
    <li>上海颢中信息科技有限公司</li>
    <li>上海正伟印刷有限公司</li>
    <li>上海海圈投资集团有限公司</li>
    <li>上海楷丰保安服务有限公司</li>
    <li>颐家（上海）老年服务有限公司</li>
    <li>上海老街投资集团有限公司</li>
    <li>微额速达（上海）金融信息服务有限公司</li>
    <li>上海吉晋投资管理有限公司</li>
    <li>上海紫旌信息科技有限公司</li>
    <li>上海逸亿网络科技有限公司</li>
    <li>上汽大通汽车有限公司</li>
    <li>上海天华建筑设计有限公司</li>
    <li>上海冠寓企业管理有限公司</li>
    <li>中控国融文化产业有限公司</li>
    <li>上海檀诺信息科技有限公司</li>
    <li>格林豪泰酒店（中国）有限公司</li>
    <li>上海慈硕信息科技有限公司</li>
    <li>上海晟槟农产品加工有限公司</li>
    <li>上海亚绿实业投资有限公司</li>
    <li>虎行文化传播（上海）有限公司</li>
    <li>上海远茂企业发展股份有限公司</li>
    <li>上海优立赛尔生物医药科技有限公司</li>
    <li>工信领航人力资源服务有限公司</li>
    <li>智美国际物流（上海）有限公司</li>
    <li>上海三一八自驾车俱乐部有限公司</li>
    <li>上海墅蓬酒店管理有限公司</li>
    <li>上海天格投资有限公司</li>
    <li>上海对接通网络科技股份有限公司</li>
    <li>上海爱驰亿维汽车销售有限公司</li>
    <li>上海迪美旅行社有限公司</li>
    <li>上海兆民云计算科技有限公司</li>
    <li>上海拓新健康促进中心</li>
    <li>威比网络科技（上海）有限公司</li>
    <li>上海益镇物业管理有限公司</li>
    <li>上海尚域律师事务所</li>
    <li>上海锦磊安防科技有限公司</li>
    <li>上海协控电力科技有限公司</li>
    <li>上海路程房车有限公司</li>
    <li>上海新杨建设工程有限公司</li>
    <li>上海惠联办公设备有限公司</li>
    <li>上海福元国际旅行社有限公司</li>
    <li>上海现代国际旅行社有限公司</li>
    <li>上海裕泰汽车销售有限公司</li>
    <li>上海海畦原农业投资有限公司</li>
    <li>上海前卫旅游发展有限公司</li>
    <li>艾营地（上海）旅游装备有限公司</li>
    <li>鲍氏压缩机（上海）有限公司</li>
    <li>上海猎鹰保安服务有限公司</li>
    <li>上海凯健华展老年护理有限公司</li>
    <li>上海凯健华鹏老年服务有限公司</li>
    <li>上海互家联家庭服务有限公司</li>
    <li>上海触讯信息科技有限公司</li>
    <li>上海旦瑞投资管理有限公司</li>
    <li>上海闽禾国际贸易有限公司</li>
    <li>上海洋码头网络技术有限公司</li>
    <li>上海仪电（集团）有限公司</li>
    <li>上海乐赚互联网金融信息服务有限公司</li>
    <li>上海天狐创意设计股份有限公司</li>
    <li>上海卓昕瑞供应链管理有限公司</li>
    <li>上海全景医学影像科技股份有限公司</li>
    <li>一扫清（上海）环境科技有限公司</li>
    <li>澳证财务顾问（上海）有限公司</li>
    <li>上海华燊文化传播有限公司</li>
    <li>上海易桥企业管理有限公司</li>
    <li>上海录润置业有限公司</li>
    <li>上海仙谷网络股份有限公司</li>
    <li>上海慧燕环保科技有限公司</li>
    <li>上海瑞梅医院投资管理有限公司</li>
    <li>上海纺织（集团）有限公司</li>
    <li>上海苏河湾投资控股有限公司</li>
    <li>上海阳与光舞蹈团有限公司</li>
    <li>上海融创房地产开发有限公司</li>
    <li>上海柯力士信息安全技术有限公司</li>
    <li>上海文沥信息技术有限公司</li>
    <li>绿动水上运输有限公司</li>
    <li>上实融资租赁有限公司</li>
    <li>上海创丰昕汇创业投资管理有限公司</li>
    <li>上海市衡山（集团）公司</li>
    <li>上海风语筑展示股份有限公司</li>
    <li>上海数据交易中心有限公司</li>
    <li>爱康富罗纳金融信息服务（上海）有限公司</li>
    <li>中华联合财产保险股份有限公司上海分公司</li>
    <li>上海融储资产管理有限公司</li>
    <li>上海新英源物流有限公司</li>
    <li>埃尔肯（上海）车库产业有限公司</li>
    <li>集商网络科技（上海）有限公司</li>
    <li>中汇富盈财富管理有限公司</li>
    <li>上海莱馥生命科学技术有限公司</li>
    <li>上海巨方实业有限公司</li>
    <li>上海德必文化创意产业发展（集团）有限公司</li>
    <li>上海大爱城商贸有限公司</li>
    <li>星堡（上海）投资咨询有限公司</li>
    <li>上海盈律投资管理有限公司</li>
    <li>银京医疗科技（上海）股份有限公司</li>
    <li>上海张江高科技园区开发股份有限公司</li>
    <li>上海铭沪信息科技有限公司</li>
    <li>上海恒霞环保设备有限公司</li>
    <li>上海母婴之家网络科技股份有限公司</li>
    <li>上海喜喜母婴护理服务股份有限公司</li>
    <li>上海共舞台实业有限公司</li>
    <li>上海长庚家庭服务有限公司</li>
    <li>上海愿航医疗器械有限公司</li>
    <li>上海华莘职业技术培训中心</li>
    <li>上海融慈生物科技有限公司</li>
    <li>上海银燕悬灸养生美容有限公司</li>
    <li>上海禾康医药科技有限公司</li>
    <li>易均宁（上海）健康管理有限公司</li>
    <li>上海夕悦投资发展有限公司</li>
    <li>上海瑞华（集团）有限公司</li>
    <li>亲和源股份有限公司</li>
    <li>上海海阳互联网养老服务股份有限公司</li>
    <li>开健投资管理（上海）有限公司</li>
    <li>上海一嗨汽车租赁有限公司</li>
    <li>上海市新能源汽车公共数据采集与监测研究中心</li>
    <li>安吉租赁有限公司</li>
    <li>上海汽车集团股权投资有限公司</li>
    <li>吉致汽车金融有限公司</li>
    <li>中国太平洋财产保险股份有限公司</li>
    <li>上汽通用汽车金融有限责任公司</li>
    <li>上汽大众汽车有限公司</li>
    <li>华域汽车系统股份有限公司</li>
    <li>上海汽车集团股份有限公司乘用车分公司</li>
    <li>上海数讯信息技术有限公司</li>
    <li>上汽通用汽车有限公司</li>
    <li>上海汽车集团财务有限责任公司</li>
    <li>中国银行上海市分行</li>
    <li>花旗银行（中国）有限公司</li>
    <li>上海国际汽车城（集团）有限公司</li>
    <li>上海汽车集团股份有限公司</li>
    <li>上海太阳能科技有限公司</li>
    <li>筑客网络技术（上海）有限公司</li>
    <li>上海谦讯网络科技有限公司</li>
    <li>上海博艾玄通投资发展有限公司</li>
    <li>上海市再担保有限公司</li>
    <li>合星金控投资有限公司</li>
    <li>上海桔尚信息科技有限公司</li>
    <li>上海广泊投资控股有限公司</li>
    <li>上海念留文化发展有限公司</li>
    <li>上海数印网络科技有限公司</li>
    <li>上海医树文化传媒有限公司</li>
    <li>上海新东苑投资集团有限公司</li>
    <li>埃菲贸易（佛山）有限公司上海分公司</li>
    <li>中智上海经济技术合作公司</li>
    <li>上海泰基企业集团有限公司</li>
    <li>上海瑞力投资基金管理有限公司</li>
    <li>上海长江联合金属交易中心有限公司</li>
    <li>中国金融信息中心（上海）有限公司</li>
    <li>上海沃金石油天然气有限公司</li>
    <li>卓睿投资管理（上海）有限公司</li>
    <li>上海拜博拜尔口腔医院投资管理有限公司</li>
    <li>上海鑫新汽车服务股份有限公司</li>
    <li>上海瀚良金融信息服务有限公司</li>
    <li>上海仟邦资都金融信息服务有限公司</li>
    <li>上海盈讯科技股份有限公司</li>
    <li>上海名媛时代百货有限公司</li>
    <li>东和昌控股有限公司</li>
    <li>上海翊视皓瞳信息科技有限公司</li>
    <li>上海巍阳通信科技有限公司</li>
    <li>锐步（上海）投资管理有限公司</li>
    <li>上海百筹金融信息服务有限公司</li>
    <li>上海嘉源海投资（集团）有限公司</li>
    <li>上海市光大律师事务所</li>
    <li>华平信息技术股份有限公司</li>
    <li>上海米健信息技术有限公司</li>
    <li>牧美信息科技（上海）有限公司</li>
    <li>上海康馥医疗管理咨询有限公司圣蕊慈门诊部</li>
    <li>上海沃特奇能源科技股份有限公司</li>
    <li>上海实田进口汽车修理有限公司</li>
    <li>上海市海华永泰律师事务所</li>
    <li>中欧能源新技术（上海）发展合作中心有限公司</li>
    <li>上海孝道信息技术有限公司</li>
    <li>上海健康医学院</li>
    <li>艾社康（上海）健康咨询有限公司</li>
    <li>上海藴域健康科技有限公司</li>
    <li>上海胜道股权投资管理企业（有限合伙）</li>
    <li>上海人禾投资管理有限公司</li>
    <li>爱康健康科技集团有限公司</li>
    <li>上海新天天低温物流有限公司</li>
    <li>上海中企汇投资有限公司</li>
    <li>上海申勤物业管理服务有限公司</li>
    <li>上海源邮网络科技有限公司</li>
    <li>中国邮政速递物流股份有限公司上海市分公司</li>
    <li>金恪投资控股股份有限公司</li>
    <li>上海佰瑞福健康投资有限公司</li>
    <li>上海舒安健康管理有限公司</li>
    <li>上海新世纪资产评估有限责任公司</li>
    <li>上海赢贝互联网金融信息服务有限公司</li>
    <li>上海《理财周刊》传媒有限公司</li>
    <li>上海大度云计算科技有限公司</li>
    <li>上海三十七度科技有限公司</li>
    <li>上海厉森科技发展有限公司</li>
    <li>昌微系统科技（上海）有限公司</li>
    <li>上海汇动体育管理有限公司</li>
    <li>上海市工人疗养院</li>
    <li>上海圆方珠宝有限公司</li>
    <li>凡斯度（上海）文化发展有限公司</li>
    <li>上海盛世奇楠控股有限公司</li>
    <li>上海林禧商贸有限公司</li>
    <li>领御（上海）信息技术有限公司</li>
    <li>上海德稻集群文化创意产业（集团）有限公司</li>
    <li>益登电子科技（上海）有限公司</li>
    <li>上海四键信息技术有限公司</li>
    <li>上海云视科技有限公司</li>
    <li>上海药明康德新药开发有限公司</li>
    <li>上海八仙企业发展有限公司</li>
    <li>上海老凤祥典当有限公司</li>
    <li>上海复宝投资发展有限公司</li>
    <li>上海德丰杰龙升创业投资管理中心（有限合伙）</li>
    <li>上海易界云软件有限公司</li>
    <li>上海住永投资集团有限公司</li>
    <li>上海自贸区红酒交易中心有限公司</li>
    <li>上海灏余投资管理有限公司</li>
    <li>上海增惠金融信息服务有限公司</li>
    <li>上海旭轩金融信息服务有限公司</li>
    <li>汇付天下有限公司</li>
    <li>上海诺亚金融服务有限公司</li>
    <li>上海国泰君安典当有限公司</li>
    <li>上海财瑞资产评估有限公司</li>
    <li>上海宏慧创意产业投资管理有限公司</li>
    <li>上海富友支付服务股份有限公司</li>
    <li>上海融道网金融信息服务有限公司</li>
    <li>上海好买基金销售有限公司</li>
    <li>上海中汇金投资股份有限公司</li>
    <li>上海锦祺金融顾问有限公司</li>
    <li>上海繁博金融信息服务有限公司</li>
    <li>上海夸客金融信息服务有限公司</li>
    <li>上海德颐网络技术有限公司</li>
    <li>上海众牛互联网金融信息服务有限公司</li>
    <li>上海嘉煦金融信息服务有限公司</li>
    <li>上海理石股权投资基金管理有限公司</li>
    <li>上海中筹互联网金融信息服务有限公司</li>
    <li>上海大贝惠远投资管理有限公司</li>
    <li>上海筹天计算机网络科技有限公司</li>
    <li>上海涨乐互联网科技有限公司</li>
    <li>上海益汇人力资源有限公司</li>
    <li>上海金筹投资管理有限公司</li>
    <li>上海千石教育信息咨询有限公司</li>
    <li>上海亦攸金融信息服务有限公司</li>
    <li>上海善筹金融信息服务有限公司</li>
    <li>上海宝投网络科技有限公司</li>
    <li>上海米地信息科技有限公司</li>
    <li>上海众梦网络科技有限公司</li>
    <li>上海安臻金融信息服务有限公司</li>
    <li>上海为吾理财金融信息服务有限公司</li>
    <li>上海享梦信息科技有限公司</li>
    <li>微财（上海）互联网金融信息服务有限公司</li>
    <li>上海爱就投金融信息服务有限公司</li>
    <li>上海东方飞马网络科技有限公司</li>
    <li>上海威吾德信息科技有限公司</li>
    <li>宝雷财富管理有限公司</li>
    <li>上海开开（集团）有限公司</li>
    <li>上海泰优汇典当有限公司</li>
    <li>美博通企业管理（上海）有限公司</li>
    <li>上海数腾软件科技有限公司</li>
    <li>上海首尔丽格医疗美容医院有限公司</li>
    <li>国赢财富集团有限公司</li>
    <li>上海同济堂药业有限公司</li>
    <li>上海丽业光电科技有限公司</li>
    <li>上海城投（集团）有限公司</li>
    <li>上海汉瑟微氢新能源科技有限公司</li>
    <li>上海极视文化传播股份有限公司</li>
    <li>麻布袋（上海）投资管理有限公司 </li>
    <li>上海东方汇富创业投资管理企业（有限合伙）</li>
    <li>上海闻道园文化投资控股有限公司</li>
    <li>上海亚太国际商品交易中心有限公司</li>
    <li>上海华盛投资有限公司</li>
    <li>上海钢富电子商务有限公司</li>
    <li>上海紫东薄膜材料股份有限公司</li>
    <li>上海华辰优安投资有限公司</li>
    <li>上海融通农畜产品发展有限公司</li>
    <li>上海创宏建设集团有限公司</li>
    <li>帕帝国际控股有限公司</li>
    <li>上海童喜童乐实业有限公司</li>
    <li>上海华智汇投资管理咨询有限公司</li>
    <li>上海协同保安服务有限公司</li>
    <li>上海诚泰志邦企业发展有限公司</li>
    <li>上海玖深能源科技有限公司</li>
    <li>上海正海房地产开发有限公司</li>
    <li>上海聚隆绿化发展有限公司</li>
    <li>上海申中石油（集团）有限公司</li>
    <li>上海北斗卫星导航平台有限公司</li>
    <li>让卢普资产管理（上海）有限公司</li>
    <li>上海会德丰广场发展有限公司</li>
    <li>汉海信息技术（上海）有限公司</li>
    <li>上海惠老实业投资有限公司</li>
    <li>上海火速信息服务有限公司</li>
    <li>储信资产管理(上海)有限公司</li>
    <li>上海实华展览设计有限公司</li>
    <li>上海全通金融谷发展有限公司</li>
    <li>中国建筑科学研究院上海分院</li>
    <li>三菱商事（上海）有限公司</li>
    <li>正谷（上海）农业发展有限公司</li>
    <li>铁狮门投资咨询（上海）有限公司</li>
    <li>上海天天鲜果电子商务有限公司</li>
    <li>致达控股集团有限公司</li>
    <li>旭密林实业发展（上海）有限公司</li>
    <li>上海浦东发展银行外高桥保税区支行</li>
    <li>上海富加新能源科技有限公司</li>
    <li>特灵空调系统（中国）有限公司上海分公司</li>
    <li>上海维勘环保节能科技有限公司</li>
    <li>上海鼎颐晟实业有限公司</li>
    <li>上海荣鑫房地产咨询有限公司</li>
    <li>上海韵洪广告有限公司</li>
    <li>和融控股集团有限公司</li>
    <li>上海复展智能科技有限公司</li>
    <li>上海威廉照明电气有限公司</li>
    <li>中节能（上海）太阳能发电有限公司</li>
    <li>通用电气（中国）研发中心有限公司</li>
    <li>普洛斯投资管理（中国）有限公司</li>
    <li>上海福沁高科技企业发展有限公司</li>
    <li>上海金互行金融信息服务有限公司</li>
    <li>上海文定生活企业管理有限公司</li>
    <li>上海新诤信知识产权服务股份有限公司</li>
    <li>上海南江（集团）有限公司</li>
    <li>光明食品（集团）有限公司</li>
    <li>上海真金创业投资管理有限公司</li>
    <li>华港集团（上海）沃金燃气有限公司</li>
    <li>上海爱企网络科技有限公司</li>
    <li>上海新金桥环保有限公司</li>
    <li>上海安享智能系统有限公司</li>
    <li>上海大商投资管理有限公司</li>
    <li>上海咸晟集团有限公司</li>
    <li>富越汇通金融服务（上海）有限公司</li>
    <li>交通银行股份有限公司上海第一支行</li>
    <li>上海众安保安服务有限公司</li>
    <li>上海新金桥商业经营管理有限公司</li>
    <li>上海荷特宝配餐服务有限公司</li>
    <li>上海文禾商务咨询有限公司</li>
    <li>上海新日股权投资股份有限公司</li>
    <li>上海伦达投资集团有限公司</li>
    <li>聚信国际租赁股份有限公司</li>
    <li>上海中海龙石油化工有限公司</li>
    <li>上海浦东发展(集团)有限公司</li>
    <li>上海大汉三通通信股份有限公司</li>
    <li>上海强生园林工程有限公司</li>
    <li>上海金国物流有限公司</li>
    <li>上海海同信息科技有限公司</li>
    <li>上海茶恬园国际旅行社有限公司</li>
    <li>上海家谐网络科技有限公司</li>
    <li>圆石金融技术服务（上海）有限公司</li>
    <li>上海建配龙建材配送有限公司</li>
    <li>上海巴鼎房地产发展有限公司</li>
    <li>上海程祥实业股份有限公司</li>
    <li>上海智变网络科技有限公司</li>
    <li>宜信卓越财富投资管理（北京）有限公司上海浦东分公司</li>
    <li>上海美馨亚国际货运代理有限公司</li>
    <li>上海千石投资发展有限公司</li>
    <li>融信租赁股份有限公司上海分公司</li>
    <li>北京盈科（上海）律师事务所 </li>
    <li>上海诚望计算机科技有限公司</li>
    <li>上海邵万生商贸有限公司</li>
    <li>上海中城卫保安服务有限公司</li>
    <li>上海盛大网络发展有限公司</li>
    <li>中信银行股份有限公司上海分行</li>
    <li>上海姚记扑克股份有限公司</li>
    <li>侨园快乐养老投资股份有限公司</li>
    <li>如家酒店连锁（中国）有限公司</li>
    <li>上海市园林设计院有限公司</li>
    <li>上海新世界淮海物业发展有限公司</li>
    <li>上海索云网络科技有限公司</li>
    <li>上海申迪（集团）有限公司</li>
    <li>中航临港国际物流（上海）有限公司</li>
    <li>上海凸版广告有限公司</li>
    <li>联桥管理咨询（上海）有限公司</li>
    <li>上海恒邦房地产开发有限公司</li>
    <li>上海吉祥房地产有限公司</li>
    <li>上海越洋房地产开发有限公司</li>
    <li>上海世纪静安房地产开发有限公司</li>
    <li>上海你我贷互联网金融信息服务有限公司</li>
    <li>微软（中国）有限公司</li>
    <li>上海联合纵横管理咨询有限公司</li>
    <li>上海融真资产管理有限公司</li>
    <li>钮瑞西商贸（上海）有限公司</li>
    <li>中国移动通信集团上海有限公司</li>
    <li>普华永道中天会计师事务所（特殊普通合伙）</li>
    <li>上海高德软件有限公司</li>
    <li>上海二三四五网络科技股份有限公司</li>
    <li>木兰英华税务师事务所（上海）有限公司</li>
    <li>上海国和现代服务业股权投资管理有限公司</li>
    <li>中汇金融外汇咨询有限公司</li>
    <li>上海丽都苑企业管理有限公司</li>
    <li>圆通速递有限公司</li>
    <li>上海隆宇企业发展有限公司</li>
    <li>上海汉光陶瓷股份有限公司</li>
    <li>上海盛展网络科技有限公司</li>
    <li>上海王宝和大酒店有限公司</li>
    <li>上海回力鞋业有限公司</li>
    <li>上海中穗农业科技发展有限公司</li>
    <li>上海优德达城市设计咨询有限公司</li>
    <li>上海视杰文化传播有限公司</li>
    <li>上海金证广告有限公司</li>
    <li>上海当代艺术馆有限公司</li>
    <li>上海融资租赁经纪有限公司</li>
    <li>上海袭人营销咨询有限公司</li>
    <li>上海雅鼎国际物流有限公司</li>
    <li>仲量联行测量师事务所（上海）有限公司</li>
    <li>中诚信证券评估有限公司</li>
    <li>上海众人网络安全技术有限公司</li>
    <li>上海新世傲集团股份有限公司</li>
    <li>人民日报数字传播（上海）有限公司</li>
    <li>上海米岚城市奥莱企业管理有限公司</li>
    <li>上海勘测设计研究院</li>
    <li>凯誉管理咨询（中国）有限公司</li>
    <li>上海易睦网络科技有限公司</li>
    <li>上海星光照相器材批发市场经营管理有限公司</li>
    <li>上海星浩投资有限公司</li>
    <li>上海新沪商实业（集团）有限公司</li>
    <li>迅付信息科技有限公司</li>
    <li>上海商城</li>
    <li>上海尚道管理咨询有限公司</li>
    <li>北京水晶石数字科技股份有限公司上海分公司</li>
    <li>罗兰贝格管理咨询（上海）有限公司</li>
    <li>上海市建工设计研究院有限公司</li>
    <li>上海市建筑装饰工程有限公司</li>
    <li>上海静安悦诚房产置业有限公司</li>
    <li>上海锦和商业经营管理股份有限公司</li>
    <li>上海和尊商务经济信息咨询有限公司</li>
    <li>上海光德企业管理咨询有限公司</li>
    <li>上海福卡经济预测研究所有限公司</li>
    <li>上海复旦复联软件园企业管理有限公司</li>
    <li>戴德梁行房地产咨询（上海）有限公司</li>
    <li>上海北勤会计师事务所有限公司</li>
    <li>上海博泰悦臻网络技术服务有限公司</li>
    <li>上海博林文化股份有限公司</li>
    <li>百联集团有限公司</li>
    <li>宝矿控股（集团）有限公司</li>
    <li>上海邦助信息技术有限公司</li>
    <li>上海众源网络有限公司</li>
    <li>英飞尼迪（上海）创业投资管理有限公司</li>
    <li>安盛天平财产保险股份有限公司</li>
    <li>上海豪都房地产开发经营有限公司</li>
    <li>上海龙象建设集团有限公司</li>
    <li>国华人寿保险股份有限公司</li>
    <li>沃尔玛华东百货有限公司</li>
    <li>新智认知数据服务有限公司</li>
    <li>上海企源科技股份有限公司</li>
    <li>上海集品企联投资发展有限公司</li>
    <li>上海零碳建筑科技有限公司</li>
    <li>上海市红会信息科技有限公司</li>
    <li>上海大通之旅旅行社有限公司</li>
    <li>上海东方投资监理有限公司</li>
    <li>上海锦坤文化传播有限公司</li>
    <li>上海煦洋文化传媒股份有限公司</li>
    <li>数库（上海）科技有限公司</li>
    <li>上海妈咪购贸易有限公司</li>
    <li>上海扬讯计算机科技股份有限公司</li>
    <li>中国建设银行上海杨浦支行</li>
    <li>上海同晨图文设计制作有限公司</li>
    <li>上海京明规划建筑设计有限公司</li>
    <li>上海东方罗曼城市景观设计有限公司</li>
    <li>上海市纺织科学研究院</li>
    <li>上海中和软件有限公司</li>
    <li>上海尚辰建筑装饰设计工程有限公司</li>
    <li>中国美术学院上海设计学院</li>
    <li>上海联创建筑设计有限公司</li>
    <li>上置投资控股有限公司</li>
    <li>上海枚蓝机械设备有限公司</li>
    <li>上海正章纺织制品厂</li>
    <li>味千（中国）控股有限公司</li>
    <li>上海创星园投资控股有限公司</li>
    <li>巾帼园</li>
    <li>悉地国际设计顾问（深圳）有限公司上海杨浦分公司</li>
    <li>上海汇通供应链技术与运营有限公司</li>
    <li>上海泽阳智能科技有限公司</li>
    <li>上海新杨浦置业有限公司</li>
    <li>上海经纬建筑规划设计研究院股份有限公司</li>
    <li>上海东方建筑设计研究院有限公司</li>
    <li>同济大学建筑设计研究院（集团）有限公司</li>
    <li>上海同济城市规划设计研究院</li>
    <li>上海杨浦科技创新（集团）有限公司</li>
    <li>同济大学设计创意学院</li>
    <li>上海邮电设计咨询研究院有限公司</li>
    <li>上海大华工程造价咨询有限公司</li>
    <li>上海淘米网络科技有限公司</li>
    <li>上海新龙基（集团）有限公司</li>
    <li>上海联聚网络科技有限公司</li>
    <li>上海聚力传媒技术有限公司</li>
    <li>上海和银实业发展有限公司</li>
    <li>上海财大科技园有限公司</li>
    <li>中国联合网络通信有限公司上海市分公司</li>
    <li>金大元集团（上海）有限公司</li>
    <li>莫尼塔（上海）投资发展有限公司</li>
    <li>上海淀山湖新城发展有限公司</li>
    <li>宝钢工程技术集团有限公司</li>
    <li>上海挚达技术服务有限公司</li>
    <li>西本新干线电子商务有限公司</li>
    <li>沪江教育科技（上海）股份有限公司</li>
    <li>上海圣博华康文化创意投资股份有限公司</li>
    <li>安永（中国）企业咨询有限公司</li>
    <li>天翼视讯传媒有限公司</li>
    <li>上海界龙集团有限公司</li>
    <li>上海来伊份股份有限公司</li>
    <li>上海十七棉投资发展有限公司</li>
    <li>锦江国际（集团）有限公司</li>
    <li>东浩兰生（集团）有限公司</li>
    <li>立信会计师事务所（特殊普通合伙）</li>
    <li>上海分众德峰广告传播有限公司</li>
    <li>上海浦东科技投资有限公司</li>
    <li>上海东方企业信用征信有限公司</li>
    <li>中船重工（上海）新能源有限公司</li>
    <li>华贸国际易货交易所有限公司</li>
    <li>上海外高桥集团股份有限公司</li>
    <li>上海浦东软件园股份有限公司</li>
    <li>上海淮海商业（集团）有限公司</li>
    <li>上海永达汽车租赁有限公司</li>
    <li>上海浦东新区投资咨询公司</li>
    <li>上海易贸投资有限公司</li>
    <li>中金投资（集团）有限公司</li>
    <li>大众交通（集团）股份有限公司</li>
    <li>上海罗曼婚礼服务有限公司</li>
    <li>上海笔克展览服务有限公司</li>
    <li>月星集团有限公司</li>
    <li>第一钢市市场股份有限公司</li>
    <li>上海新丽装饰工程有限公司</li>
    <li>龙旗科技（上海）有限公司</li>
    <li>上海华燕房盟网络科技股份有限公司</li>
    <li>上海电子艺术创意产业基地</li>
    <li>上海欣海报关有限公司</li>
    <li>上海张江（集团）有限公司</li>
    <li>上海豫园（集团）有限公司</li>
    <li>上海新世界（集团）有限公司</li>
    <li>上海永达控股（集团）有限公司</li>
    <li>上海东方网股份有限公司</li>
    <li>上海光大会展中心有限公司</li>
    <li>上海易方软件有限公司</li>
    <li>上海华博科技（集团）有限公司</li>
    <li>上海金桥（集团）有限公司</li>
    <li>上海陆家嘴（集团）有限公司</li>
    <li>东方国际（集团）有限公司</li>
    <li>爱建证券有限责任公司</li>
    <li>长江经济联合发展（集团）有限公司</li>
    <li>上海网信（集团）实业发展有限公司</li>
    <li>上海地面通信息网络有限公司</li>
    <li>三林世博创意园 </li>
    <li>上海金罗店开发有限公司 </li>
    <li>万隆国际咨询集团有限公司 </li>
    <li>DAO国际设计机构</li>
    <li>上海培罗蒙西服公司 </li>
    <li>上海国际家用纺织品产业园 </li>
    <li>慈铭健康体检管理集团上海有限公司 </li>
    <li>上海和平企业（集团）有限公司</li>
    <li>上海百成图片有限公司</li>
    <li>华东建筑集团股份有限公司</li>
    <li>上海虹桥经济技术开发区联合发展有限公司</li>
    <li>上海市漕河泾新兴技术开发区发展总公司</li>
    <li>宝钢发展有限公司(上海宝钢经营开发总公司)</li>
    <li>上海由由（集团）股份有限公司</li>
    <li>上海均瑶(集团)有限公司</li>
    <li>上海国际会议中心有限公司</li>
    <li>中国电信股份有限公司上海分公司</li>
    <li>上海菲临文化传播有限公司</li>
    <li>上海积分通信息服务有限公司</li>
    <li>中国电信集团号百信息服务有限公司</li>
    <li>东方有线网络有限公司</li>
    <li>申通快递有限公司</li>
    <li>上海鹏晨联合实业有限公司</li>
    <li>上海外服（集团）有限公司</li>
    <li>上海同盛投资（集团）有限公司</li>
    <li>上海市政工程设计研究总院(集团)有限公司</li>
    <li>上海联合产权交易所</li>
    <li>沪港国际咨询集团有限公司</li>
    <li>上海立信资产评估有限公司</li>
    <li>上海幼狮高级轿车修理有限公司</li>
    <li>薪得付信息技术(上海)有限公司</li>
	</ul>
	<div class="faxing_bg w">&nbsp;</div>
	</div>
	</div>
</section>
<br />
